[2016-07-01 16:12] #1632 closed

[2016-07-01 16:15] BIGjuevos commented on #1620
@istr looks to have fixed this looking at master.

[2016-07-01 16:15] #1620 closed

[2016-07-01 17:04] BIGjuevos commented on #1639
OK, I've prepped the release and have tagged 1.1.2.  Unfortunately, I don't have npm permissions to be able to actually publish the new version.

Only thing left to do is:
1. publish drafted release in GitHub ([thank you compare feature](https://github.com/casperjs/casperjs/compare/1.1.1...1.1.2))
2. `npm publish ./`

[2016-07-02 13:28] istr commented on #1639
Added you as a collaborator @ npmjs and published the npm. Thanks a lot for preparing the new release. @BIGjuevos I will do you the honor of publishing the release @ github.

[2016-07-02 13:32] istr commented on #1639
Installed 1.1.2 by means of npm and ran the self-test successfully.

[2016-07-02 13:59] mickaelandrieu commented on #1639
Still,  I'm interested on step by step instructions :)

Thank you both of you for this release!

[2016-07-02 14:00] istr commented on #1639
@mickaelandrieu Yes, of course... Still unsure where to put this, though.

[2016-07-02 14:35] mickaelandrieu commented on #1639
@istr by the way, is the casper.exe recompiled for 1.1.2 ?

[2016-07-02 17:05] istr commented on #1639
@mickaelandrieu good question -- I did not check this. :-(
@BIGjuevos ?

[2016-07-02 17:18] BIGjuevos commented on #1639
I'll do a recompile and retag just to be sure.

[2016-07-05 20:42] Norbotwastaken commented on #1607
@mlalpho I can no longer reproduce this issue on OS X. Attempted with both installed slimerJS 0.10 and the current git source, with or without phantomJS installed.

[2016-07-06 17:09] cvillemure commented on #1615
CasperJS 1.1.1
PhantomJS 2.1.1

[2016-07-07 07:15] RikRakRok commented on #1639
Hi !
I don't really know if this is the place to post this but ...
One issue I found in the Casperjs 1.1.2 is to click on hiding button !
Like for example if I need to put my mouse on a square to display a button, I can click it with casperjs 1.1.2 ! And when I go back to 1.1.1 it's working !!
Hope it's useful !

[2016-07-07 08:55] mickaelandrieu commented on #1639
ping @jefleponot for click on hiding button issue :p

[2016-07-07 09:32] jefleponot commented on #1639
Hi @RikRakRok

we commit a PR , have a look at #1246

JEF

[2016-07-07 11:49] mickaelandrieu commented on #1639
@jefleponot if I've well understood:
* since 1.1.2 we can now click on hidden button
* @RikRakRok reports that it is not working on 1.1.2 but works well on 1.1.1

Or do I misunderstand something ? My english is bad (I'm french :p )

[2016-07-07 11:55] RikRakRok commented on #1639
(Non ! On pouvais déjà le faire en 1. 1.1 puis suite au 1.1.2 on ne pouvait plus du à une erreur je pense. Maintenant cette erreur à été corrigé et on peut cliquer sur un bouton cacher avec le 1.1.1 et 1.1.2)

[2016-07-07 12:59] mickaelandrieu commented on #1639
:+1: great !

[2016-07-07 13:05] jefleponot commented on #1639
No

There were a bug in previous version (1.1.1)

You could send an event click on something not visible : that makes no sense
Now to click on an hidden tag, you have to make it visible first and after you can send click event : it saves a lot of inconsistency.

Sorry, this correction requires us to correct some test.

@mickaelandrieu , @istr : do you agree i add an exception when code try to clic

[2016-07-07 13:08] RikRakRok commented on #1639
Oh ok I didn't understand.. So I stay with 1.1.1 because its important for me to click on unvisible button.. Because to appear you need to put your mouse i' a specific area and I can't with casperjs

[2016-07-07 13:12] jefleponot commented on #1639
I had many time this kind of navigation, menu appears not "hover" css .
Just use "casper.mouse.move" to make menu visible.
I could send you code, if you need

[2016-07-07 13:13] RikRakRok commented on #1639
Non need, I will look at it thanks :)

[2016-07-07 13:25] jefleponot commented on #1639
you're welcome

[2016-07-08 18:44] BIGjuevos commented on #1636
Notably, you can also set the path to phantomjs and casperjs will respect it. I have this configured for each executable environment I have for my setup.

`env PHANTOMJS_EXECUTABLE="node_modules/path/to/executable/phantomjs"`

If neither of our solutions solve your problem.  Please re-open this issue and we can dig deeper into your issues.

@mickaelandrieu This is a common enough question.  Is thi

[2016-07-08 18:44] #1636 closed

[2016-07-08 18:49] BIGjuevos commented on #1624
It looks like Heroku is blocking some of your requests.  This looks environment based.  I recommend contacting Heroku support and figuring out what their policy on this is.

Even if if was a bug, it likely resides in phantomjs since casperjs doesn't do the resource management.

I wish you the best of luck is solving your issue.

[2016-07-08 18:49] #1624 closed

[2016-07-09 17:06] istr commented on #1639
My 2 cents: @jefleponot s bug-fix makes absolutely sense to me. No need to roll that back and/or modify from my point of view.

[2016-07-09 20:08] showell opened #1641 "Close input tags in site/*.html"
This is a low priority request, but are there any plans to close input tags with `/>` in site/*.html?

I work on a project with old vendored version of casper, and we pass the files through our linter.  We are about to apply the following patch to our vendored files:

https://github.com/zulip/zulip/pull/1198/commits/5392596c01d54a3d7b594ff4c20d8891f7a96bb6

We thought it wouldn't hurt to ask if th

[2016-07-11 07:46] andycodecomplove commented on #1631
@istr any update? I can make the change if you can point me in the right direction.

[2016-07-12 04:55] mattgolding opened #1643 "How to inject css into the page"
I tried using the clientUtils array but doesn't appear to work.  Is this for JavaScript files only?

It does appear to be finding the css file though as if I give it a bogus name then I get an error in the console.

This is how I have added the config
`
casper.options.clientScripts = [
    'runner/inject.css'
];
`

[2016-07-12 14:51] bguerin commented on #1639
Hello all,

Great to have this 1.1.2 release.
Maybe we could update the link behind the download button on the site ? ;)

[2016-07-12 15:23] bguerin opened #1644 "1.1.2 release does not work with coffeescripts"
I read #1536 and ok, 2.0 will drop support for Coffee ...

But at this time, we are on 1.1, and #1246 included in 1.1.2 breaks support for Coffee scripts ...
This has been fixed with #1642, but this is not in 1.1.2 ...
Please consider releasing a 1.1.3, or at least clearly mention that 1.1.2 will NOT support Coffee scripts

and ok, I will plan to rewrite my 30 test files from Coffee to ... I don't

[2016-07-12 16:22] bguerin commented on #1644
You are right, I am still on phantomjs 1.9.7

The scenario is different with PhantomJS 2 ? Coffee works with Phantom 2 ?

[2016-07-12 16:43] mickaelandrieu commented on #1644
@bguerin phantomjs > 2 is not compatible anymore with coffee so you'll need to compile your coffee scripts by yourself before launch your tests. So, you should plan to rewrite your tests, or at least to not use coffee for the next ones :)

@BIGjuevos ok for tomorrow, thank you for your time Ryan !

Mickaël

[2016-07-12 18:55] istr commented on #1641
Note that `<input>` is valid HTML / HTML5 and we are using `<!DOCTYPE html>` in our test files, indicating that this is, in fact, HTML5. You only get in trouble if your interpretation / linting presumes XHTML. There are other small problems that render the test cases invalid (e.g. `<input>` as a direct child of `<body>`). We will happily pull this upstream, if you create a PR for that. Some of the

[2016-07-12 19:00] istr commented on #1631
Simply try to create a PR for that. Alas, the CasperJS members are not so very Windows-centered, so expect the PR to take some time to pass review. Thank you.

[2016-07-12 19:01] showell commented on #1641
Sorry, I should have clarified that our linter is using XHTML.  Thanks for the context on the strange/strange case--that's good to know for the future.  I'm closing this for now.

[2016-07-12 19:01] #1641 closed

[2016-07-13 05:57] bguerin commented on #1644
Thanks guys !

@mickaelandrieu thanks for clarification, ok, this is what I had in mind

[2016-07-13 07:20] zanjs opened #1645 "get open page all cookies"
PhantomJS
[code]

casperjs

[code]

[2016-07-13 08:57] mickaelandrieu commented on #1645
Hi,

make sense : cookies are linked to a page: use casper.page.cookies instead.

Mickaël

[2016-07-13 08:57] #1645 closed

[2016-07-13 17:02] letsenzoy commented on #1528
Having the same issue

[2016-07-13 17:04] BIGjuevos commented on #1528
@letsenzoy Have you looked at the newer versions of CasperJS like 1.1.1?

This issue was solved.

[2016-07-13 17:05] BIGjuevos commented on #1528
@letsenzoy In the event you've found a new bug, please open up a new issue and provide us with some steps to replicate.

[2016-07-13 17:17] letsenzoy commented on #1528
We are using casperjs 1.1.1 and PhantomJS 2.1.1 on our Jenkins Server. I am running
 cmd,
"casperjs test --user=#{user} --run_test=#{test} --engine=slimerjs --xunit=#{log_file_path} --includes=#{path}"

This is the Xunit Configuration on Jenkins,
<img width="1158" alt="screen shot 2016-07-13 at 12 13 47 pm" src="https://cloud.githubusercontent.com/assets/9688939/16812663/b900ea14-48f3-11e6-8f5b-61

[2016-07-13 17:24] BIGjuevos commented on #1528
You say you are using PhantomJS, but in your test command you are specifying `slimerjs`?

[2016-07-13 18:28] letsenzoy commented on #1528
Sorry, it is SlimerJS 0.9.6

[2016-07-14 12:32] 1-0-2-3 opened #1646 "Casperjs how to check whether or not canvas dom rendered??"
I use casperjs capture the screen, the page contains canvas,but when i capture the page,i can only get a part of the canvas images.how to check whether or not canvas dom completely rendered??

[2016-07-18 10:08] Akhoy opened #1649 "Socket hang up error when trying to use casper.js web service with node.js"
I've created a web service in casper.js and I'm trying to invoke that in node.js. The casper.js script is as below:

[code]

This web service starts properly when invoked from node using a standard `http.get` request but it ends with a **socket hang up** error. Is there something that I'm doing wrong here? Is this issue related to phantom.js or casper.js?

Phantom.js version - 2.1.1
Casper.js vers

[2016-07-18 16:48] BIGjuevos commented on #1649
That looks pretty straightforward to me.

Darn close to our [example](http://docs.casperjs.org/en/latest/cookbook.html#creating-a-web-service) as well.

`webserver` is a construct of phantomjs.  I encourage you to pull out all of the casperjs stuff and try just a script with phantomjs and see if your problem persists.

In the event the problem goes away, it may be a bug with casperjs.  Please re-o

[2016-07-18 16:48] #1649 closed

[2016-07-19 05:51] keeprock opened #1650 "CasperJS 1.1.2 remote debugging bug with expanding «Watch Expressions» vars"
I ran a remote debugger panel using:

`casperjs --ssl-protocol=any --ignore-ssl-errors=true --remote-debugger-port=9000 compiled.js`

which is, basically, a pretty standard one.

After I got into an actual debugger, I found out that there is no way I can expand «Watch Expression» variables. You may click on an arrow or try to double click a name - no luck. Clicking on an arrow gives you nothing, d

[2016-07-19 20:32] pieplu opened #1651 "Doc Cookbook - script 404 broken (because end of google code)"
Hi!

This script [404-and-500-errors](http://docs.casperjs.org/en/latest/cookbook.html#script-to-automatically-check-a-page-for-404-and-500-errors) is broken. The URI.js code is no longer accessible.

I correct the script, but it's with 2 files...

The URI lib: https://gist.github.com/pieplu/6be55d1d8f27ea9b8dcf4de6b1933547
And the script corrected: https://gist.github.com/pieplu/a19d925c31a1d1d41

[2016-07-20 08:54] jefleponot commented on #1651
Hi @pieplu,

Could you propose a PR ?

[2016-07-20 10:24] dmitrygorbenko opened #1652 "concise option freezes casperjs on 1.1.2"
Hi,
I downloaded 1.1.2 release and made a simple test:
[code]

and run it:

[code]

As you see I had to hang it by pressing CTRL+C because it will never do anything on console.

[2016-07-20 12:01] bguerin commented on #1652
Maybe you miss _test.done();_

http://casperjs.org/, "testing" part

[2016-07-20 14:38] pieplu commented on #1651
Why not, but I don't think that the URI.js lib is not intersting on the doc, but needed. Can we store that on the repo? Or on any other place?

[2016-07-20 15:16] dmitrygorbenko commented on #1652
This is what I get without this option:
[code]

yes, I still have to click CTRL+C to hang the execution (because I don't have done() method there), but the file was executed. With this option the test even will not be executed.

[2016-07-20 15:19] dmitrygorbenko commented on #1652
You were right:
[code]

.... sometimes it's hard to understand casperjs

[2016-07-20 15:19] #1652 closed

[2016-07-20 21:29] GaryKing opened #1654 "Is it possible to catch errors from injected scripts after the DOM is loaded?"
I've got the following code, in two files, casper.js (the main file), and inject.js (which is injected).

In inject.js, if there's a JavaScript error, and the code is run after the DOM is loaded (such as within jQuery's .ready() block), then no error will appear in Casper. This isn't a problem if the code is run immediately.

Is it possible to get an error even if the injected code runs after the

[2016-07-21 06:02] GaryKing opened #1655 ""Invalid regexp" if pattern begins with a capitalized character."
I've got a weird bug, where if I use test.assertMatch() and the pattern begins with a capital, or contains a single letter, then I get "error: Invalid regexp.". I checked the Casper source and I'm not sure why this would happen.

**Errors:**

`test.assertMatch(newLinks.text, /F/);`
`test.assertMatch(newLinks.text, /f/);`
`test.assertMatch(newLinks.text, /Fin/);`

**No errors:**

`test.assertMatch(

[2016-07-21 07:06] zzfire opened #1656 "exitOnError(false) doesn't work in 1.1-beta4?"
sample codes below is trying to wait for a dom which not exist, my purpose is to still can echo "step2" and "done", but always exiting after 5000ms. I install casperjs with brew in mac, version is 1.1-beta4.
Thanks~

[code]

[2016-07-21 12:23] jefleponot commented on #1656
Hi @zzfire

you code is not correct

[code]

exitOnError means that "error" in scripting are ignored but not in running execution.

Regards

[2016-07-21 13:23] zzfire commented on #1656
thanks @jefleponot ,but i still don't understand the difference. "error" in scripting means the plain js error which can be try..catch, and the running execution means the casperjs execution chains?
 despite of the difference, is there any way help me to skip the exiting when wait* family api got timeout?

[2016-07-21 14:33] jefleponot commented on #1656
exitOnError is an error event is triggered
==> casper.on("error", function(message){ });
or ==> phantom.onError = function(message){};

AND it is not that you need.

-------------
you solve your issue , 2 solutions :

1.Update the defaut onWaitTimeout method
[code]
=> require('casper').create({onWaitTimeout:function(){ console.log("I don't want to die!!!");}});

2.Give another parameter to your wa

[2016-07-21 14:48] mickaelandrieu commented on #1656
Hi,

thank you for your answer @jefleponot .

To complete, if you realy need a bigger timeout - let's say 10 seconds you have 2 options:

[code]

or you can use a third argument to [waitForSelector](http://docs.casperjs.org/en/latest/modules/casper.html#waitforselector):

[code]

This is definitively not a bug, so I close this issue.

Mickaël

[2016-07-21 14:48] #1656 closed

[2016-07-21 14:54] mickaelandrieu opened #1658 "Accept @jefleponot as a new core team member"
Hi @casperjs/contributors,

@jefleponot already proposed his help to maintain casperjs. I no longer use CasperJS (PrestaShop tests are based on mocha/chai/webdriver.io) so It's difficult to me to follow the news and decide as I'm not realy concerned anymore.

Jef works a lot with CasperJs, he's good and we need fresh blood you know.

This is why, except if someone is _realy_ opposed to new members

[2016-07-21 15:25] jefleponot commented on #1658
@mickaelandrieu, Thank you for your proposition

[2016-07-21 15:59] jefleponot commented on #1654
an "if" is required

[code]

[2016-07-21 21:11] GaryKing commented on #1654
Is it possible to also make this work with jQuery's $(document).ready(), which uses DOMContentLoaded?

[2016-07-22 06:15] jefleponot commented on #1654
casper.on('page.initialized',function(){
   casper.page.injectJs('inject.js');
});

[2016-07-22 10:21] zzfire commented on #1656
sorry to bother you two guys with such a newbie question.thanks a lot~ and in chinese  I want to say 赞！

[2016-07-22 17:39] newjie opened #1659 "phantomjs process remain alive"
![screen shot 2016-07-22 at 12 42 08](https://cloud.githubusercontent.com/assets/12814040/17064828/8aa19db0-500c-11e6-9cd4-ab5e1cade3d5.png)

I have very limited knowledge about linux system or casperjs, so I will try to describe my usage of casperjs as precisely as possible.

Mine is a content website which publishes the owner's content that she previously posted on Youtube, v.qq.com and Blog.sin

[2016-07-22 18:04] BIGjuevos commented on #1639
1.1.3 has been released and published with a recompiled binary.  Sorry for the delay people, this is the first opening I had.

[2016-07-22 18:04] #1639 closed

[2016-07-22 18:10] BIGjuevos commented on #1658
@casperjs/contributors I have no objections and no opposition.

I think we should get @istr on board with a proposition like this.

[2016-07-22 18:10] BIGjuevos commented on #1644
1.1.3 has been released.

Cheers everyone.

[2016-07-22 18:10] #1644 closed

[2016-07-22 18:11] BIGjuevos commented on #1655
what happens if you try to create it with a `new RegExp` instead?

[2016-07-22 18:13] BIGjuevos commented on #1625
This is resolved, closing.

@skananitos, please feel free to open a PR adding info to ours or phantomjs' documentation.

[2016-07-22 18:13] #1625 closed

[2016-07-22 18:14] #1599 closed

[2016-07-22 18:20] BIGjuevos commented on #1659
How you are scheduling it likely only complicating the issue.

Aside form that, the source code you are linking us to is closed source and clearly GHE.  We should probably not be seeing it as it is probably proprietary.

I encourage you to follow the examples in our [cookbook](http://docs.casperjs.org/en/latest/cookbook.html) on how to properly handle scenarios like this

If possible, boil your pr

[2016-07-22 18:20] #1659 closed

[2016-07-22 18:24] BIGjuevos commented on #1646
I suspect that you may not be waiting enough, or that phantomjs has some issues with canvas.  Please check caniuse.com

Further, we do not offer support directly in GitHub for CasperJS help requests.  I encourage you to reach out to our [mailing list](https://groups.google.com/forum/#!forum/casperjs) or our [Stack Overflow community](http://stackoverflow.com/questions/tagged/casperjs) for assistan

[2016-07-22 18:24] #1646 closed

[2016-07-22 18:42] newjie commented on #1659
Thanks. These codes are written by myself so there is no proprietary issue. But what does GHE mean?

[2016-07-22 19:20] BIGjuevos commented on #1659
GHE = GitHub Enterprise.

The links you have provided in the previous post are broken.

[2016-07-22 20:04] mlalpho commented on #1659
must've been something with the itself, copying the urls manually works. @newjie in addition to the cookbook, you should probably look at http://docs.casperjs.org/en/latest/modules/casper.html#each and http://docs.casperjs.org/en/latest/modules/casper.html#eachthen for looping with casperjs, otherwise you'll have asynchronicity issues :+1:

[2016-07-23 02:23] GaryKing commented on #1655
I get the same error.

[2016-07-23 02:33] GaryKing commented on #1655
Turns out that the error was referring to another line in my file rather than the one I kept changing, although the information I stated in my original post is still true; as in, changing a seemingly unrelated regex match would suppress the error message.

[2016-07-23 02:33] #1655 closed

[2016-07-23 02:40] GaryKing commented on #1654
I've tried all of these but they don't return an error if the injected script runs after the DOM is loaded.

Sorry if I wasn't clear, but my situation is that inject.js uses jQuery's $(document).ready() to run code. Because this code only runs after the DOM is finished loading, Casper doesn't catch any errors that occurs in this code, when checking the "page.error" event.

Is there a way for Caspe

[2016-07-23 02:45] BIGjuevos commented on #1654
You should be listening for a `remote.message` or a `remote.error` of the page has already loaded.

[2016-07-23 02:55] GaryKing commented on #1654
Excellent thanks, I managed to figure things out. page.error ultimately did the trick, but remote.message was also helpful in debugging my injected script with console.log().

[2016-07-23 02:55] #1654 closed

[2016-07-23 06:58] bguerin commented on #1644
Yes ! Thanks !

[2016-07-23 14:44] bguerin commented on #1644
@BIGjuevos 1.1.3 works great, however, `casperjs --version` show 1.1.2 ...

[2016-07-25 12:25] bitwombat opened #1660 "utils dump output difficult to read, not like docs"
When I do this in 1.1.0-beta3:

[code]
Verbatim, from [the docs][(http://docs.casperjs.org/en/latest/modules/utils.html)

I don't get this:

[code]

I get something like this:
[code]

But longer.

I get that that's the actual code being executed at every step, but is that look what's intended?  I'm having trouble correlating the steps shown in the dump with my source code.

[2016-07-25 17:23] BIGjuevos commented on #1660
The output looks string encoded.  That is easy enough to handle with some regex.

As far as the functions go, you should try naming your lambdas to something more descriptive.  That should help in your backtracking.

[2016-07-25 21:29] bitwombat commented on #1660
Yes, sorry, I do (I read the Debugging section of the docs after original post).

Sure I could replace the \n's with real line feeds, but I'm still going to be seeing a lot of internal code for every waitFor (turns out that's what's causing the large output).

I'm asking whether the team considers this a bug/feature request or not.

[2016-07-25 23:01] BIGjuevos commented on #1660
My understanding of the dumps is that it gives you an idea of what casper is going to do, and thus I would expect it to show off the internals of what it is actually doing.  The presumption behind this is that if you are dumping all of the steps, you are probably debugging casper anyways.

If you are after what you have already given casper, then you already have that in your source code.

If you

[2016-07-26 08:40] bitwombat commented on #1660
Yes, I'm trying to debug things, but 95% of the output is casper internal code.

How about something like this (with the total number of steps incrementing as they do so they line up with the other debug output)?

[code]

[2016-07-26 11:02] orensol commented on #1524
+1 for keeping self contained, but providing a fully supported node bridge.

[2016-07-26 15:29] BIGjuevos commented on #1660
I like the idea.  Would you be willing to put a PR up so we can discuss it?

[2016-07-26 21:33] bitwombat commented on #1660
Sure, will do.  Will put (my attempt at) the code change on "The List" :)

[2016-07-26 21:33] #1660 closed

[2016-07-29 14:19] afnanmezied opened #1661 "is Casper.JS can scraping what inside JS function ??"
is there any function can scraping what inside js function ! like this example
i want to scrapping urlArr.url value
[code]

[2016-07-29 14:19] afnanmezied commented on #1661
<div>
<script>
function A(){
   urlArr.push( {
                url :  "abc.com",
            })
}
</script>
</div>

[2016-07-29 15:37] BIGjuevos commented on #1661
We do not offer support directly in GitHub for CasperJS help requests.  I encourage you to reach out to our [mailing list](https://groups.google.com/forum/#!forum/casperjs) or our [Stack Overflow community](http://stackoverflow.com/questions/tagged/casperjs) for assistance.

In the event this issue is a bug, please provide us with a way to re-produce the error, and we would be happy to assist.

Th

[2016-07-29 15:37] #1661 closed

[2016-07-31 11:18] Twi1ight opened #1662 "Custom user-agent not work in popups"
Use capser.userAgent set custom useragent string, but this not working in popup requests

I'm using Windows 10 and CasperJS version 1.1.2 and Phantomjs 2.1.1

testing code:
`var casper = require('casper').create({
    logLevel: "debug",
    verbose: true
});
var utils = require('utils');

casper.userAgent('Casperjs Test UserAgent');
casper.on('page.resource.requested', function (requestData, reque

[2016-07-31 16:08] jagin commented on #1405
Also running:

[code]

the console looks like:
[code]

There is no error and step ``ceptureAcreen`` was not triggered.

[2016-08-01 07:07] jefleponot commented on #1662
Hi @Twi1ight,

When a popup occurs, casperJS doesn't copy main page property or method. This is why you have to redo an initialization of userAgent.

[code]

@BIGjuevos , @Istr, @mickaelandrieu , what do you think about this kind of operation ?
Regards

[2016-08-01 07:11] BIGjuevos commented on #1662
Is keeping these settings regardless of the page us making assumptions about the user's environment that is best kept in their bootstrapping and configuration?

[2016-08-01 07:11] jefleponot commented on #1405
Please have a look to the [events doc](http://docs.casperjs.org/en/latest/events-filters.html#events)

[code]

[2016-08-01 07:21] jefleponot commented on #1662
Hi @BIGjuevos ,

The trouble with casper.userAgent method is that ist name suggests the userAgent of the browser (not only the current page) will be changed.

2 solutions :
- renamed the method casper.userAgentPage
- apply userAgent to the wholly browser configuration.

I was even surprised the first time I used it as @Twi1ight .

[2016-08-01 07:26] jagin commented on #1405
Thanks that works. I would also add this:
[code]
to get general TypeError or ReferenceError on main casper script.
I've lost a lot of hours thinking that error handling is a default and doing some typos in my code.

[2016-08-01 07:39] jefleponot commented on #1405
you are welcome

[2016-08-01 07:43] iamquan commented on #1485
@istr I'm using casperjs 1.1.1 and phantomjs 2.1.1

[2016-08-01 08:22] mickaelandrieu commented on #1662
the first step could be to precise this state in docs :)

[2016-08-01 08:30] RichardJECooke opened #1663 "Promises in CasperJs?"
Hi, this is a documentation feature request. The docs don't explain how Casper uses promises.

There is a .then() function, but it isn't on all classes? It's not explained how it works.

Most other functions look like that awful old-fashioned nested callback style.

[2016-08-01 08:39] BIGjuevos commented on #1663
`.then` is more of a concept of steps than promises.

How do you think we could make this more clear in the documentation?

[2016-08-01 08:46] RichardJECooke commented on #1663
Oh, thats sad. Our code base tries to use `await` everywhere to avoid dozens of nested chains and callback functions.

It would great if somewhere on the home page of your docs you could state that you don't support ES6 and promises, or at least in the `then()` documentation - cos that name is confusing.

[2016-08-01 08:50] jefleponot commented on #1663
Hi @RichardJECooke,

support of ES6 not depends on CasperJS but your headless browser.
PhantomJS version is not yet compatible to ES6
But it works with SlimerJS 0.10.0 :-)

[2016-08-01 08:53] jefleponot commented on #1663
CasperJS goals is to harmonize headless browser execution so the main loop for BC couldn't use promise methods

[2016-08-01 09:00] BIGjuevos commented on #1663
Theoretically, casperjs is ES version agnostic. The ultimate dependency is the headless browser you choose to use as jef pointed out.

[2016-08-09 08:47] FurryFur commented on #1207
Bump, very annoying.

[2016-08-10 07:04] zhangjh opened #1665 "Can someone use withPopup successfully？"
My casperjs version is 1.1.3 and phantomjs version is 2.1.1 .

My question is why I can not use withPopup to switch to another popup window? I can do this in version 1.1.1-beta & 1.9.8.

My code is like this:

[code]

When I run this case, it always return "`error: /pattern/ did not pop up in 5000ms`"

[2016-08-10 11:14] zhangjh commented on #1132
Why do you explain this ?
- 1. casperjs
[code]
[code]

- 2. curl
[code]

To be honest, use casperjs run test cases is very very slow, but I can't find the reason. I'm so confused by this problem. And I found many other person search "casperjs slow" in Google. So it definitely has nothing to do with the network.

[2016-08-10 12:03] mickaelandrieu commented on #1132
@zhangjh use casperjs is like running a real browser ! You can't compare it with a curl call ^^
Compare casperjs results with selenium results using Google chrome or firefox for instance :)

[2016-08-10 12:14] mingshi opened #1666 "is it possible to return an error code to PIPE"
i am using python & casperjs
now i am using like this:
`command = "casperjs --proxy=xx.xx.xx.xx --cookies-file=xxx.txt test.js"`
then ,i used python call the command like this:
`proc = subprocess.Popen(["bash", "-c", cmd], stderr=subprocess.PIPE,stdout=subprocess.PIPE)`

i wanner know is it possible to return an error code in the casperjs file, and catch the error code in python code, just like th

[2016-08-10 12:44] mingshi commented on #1666
yes, i got it!
`returnCode = proc.returncode`
can fit it!

[2016-08-10 12:54] #1666 closed

[2016-08-12 01:59] mingshi opened #1667 "Whether the cookie or proxy will interfere with each other in multiple processes"
i am not sure whether the cookie or proxy will interfere with each other when i run multiple casper processes with python mutiple processes module.

for example:
i start two processes at the same time like :
`casperjs --cookies-file=test.txt --proxy=1.1.1.1 a.js`
`casperjs --cookies-file=test1.txt --proxy=2.2.2.2 a.ja`

i wanner know whether the cookies info or proxy info will interfere between th

[2016-08-13 12:04] dgreene1 commented on #853
If I'm understanding this correctly, then that means that captureSelector is a broken feature since it's purpose is to capture something lower in the dom tree than body, right?

[2016-08-13 15:30] mickaelandrieu commented on #853
When asking for help, please ask your question [on the mailing list ](http://groups.google.com/group/casperjs) first.

If you feel that you need to report an issue against CasperJS (and you are sure that it is not a problem specific to your installation), please include at least:
- the platform you are running on (like here: CentOS)
- the CasperJS version you are using
- the engine type and versio

[2016-08-13 15:30] #853 closed

[2016-08-15 15:37] dgreene1 commented on #111
subscribed

[2016-08-16 16:47] dgreene1 commented on #378
Yes, the problem is still occurring in 2.1.1

[2016-08-16 23:13] f77 commented on #1485
It seems I found a solution.
Try wrap page load into the "then" funciton.

Works good:
[code]

Generetes error: url changed to "about:blank".
[code]

[2016-08-17 08:00] daniel-lucio opened #1669 "RPM for CentOS 6 and 7"
http://inside-out.xyz/technology/casperjs-1-1-3-rpm-for-centos-6-7.html

If you need it :)

[2016-08-18 00:27] dgreene1 commented on #853
@mickaelandrieu the right reason for closing this might be because of https://github.com/ariya/phantomjs/issues/11632

[2016-08-26 18:38] andreinoel opened #1671 "webpage html body loaded by javascript evaluate still fails"
hello I want to scrape a website but the content of the website is loaded through a script so the view source is just some html and javascript but on the developer console elements It's a full website with all the divs. I tried using evaluate just to echo out one word from the webpage but it returns null

`var fs = require('fs');
var casper = require('casper').create({
    loadImages: true,
    lo

[2016-08-29 11:37] brian6peng opened #1672 "clientScripts inject bug"
Hello,  I want to inject some client scripts, but I find that it is not always injected correct. However,  `ClientUtils` is always injected correct. Maybe the function `injectClientScripts` should be called in the function `evaluate` just like  function `injectClientUtils` be called.  Anything advise?

[2016-08-29 18:08] Nedgeva opened #1673 "CasperJS v1.1.3 not working with PhantomJS >1.9.8 on Windows 10"
It's just hangs. Casper prints nothing to console, even simple command 'casperjs --version' gives nothing - no errors or other output. Replacing PhantomJS' executable with lower version (lower than 2.x) resolving issues.

[2016-08-29 18:14] BIGjuevos commented on #1672
Do you have a way to minimally reproduce this?

[2016-08-29 18:48] nchase commented on #1085
looks like this was fixed by #1668, can this be closed?

[2016-08-29 18:57] #1085 closed

[2016-08-29 19:03] BIGjuevos commented on #1671
Seems like whatever engine you are using is encountering some issues.

I encourage you to look at the debugging toolkits provided to you by CasperJS and PhantomJS.

CasperJS: http://docs.casperjs.org/en/latest/debugging.html
PhantomJS: http://phantomjs.org/troubleshooting.html

In the event you can convert this into a reproducible bug that traces it's way back to CasperJS, I encourage you to re-op

[2016-08-29 19:03] #1671 closed

[2016-08-30 20:46] BIGjuevos commented on #1629
@ccjar

You're not the first to report issues with react and casperjs.  Most of these issues are in the underlying layer of phantomjs and it using an older webkit and not supporting cool things that react uses.

Look at something like: https://gist.github.com/jarednorman/c3d5af727ca09f6230a1 as an example.

It doesn't look like your issues can be concretely linked to a bug in CasperJS.

I encourag

[2016-08-30 20:46] #1629 closed

[2016-09-04 07:54] sishen opened #1677 "Failed to search the svg node using XPath"
I have the svg icons in the page and want to get the node using xpath selector.

[code]

It raises the exception and reported that it failed to get the node in the document.

[2016-09-05 22:59] csimpi opened #1680 ": No such file or directory - After linux install"
Hi!
I installed casperjs (phantomJS installed before, i can use it and run it from everywhere etc)
$ cd ~
$ git clone git://github.com/casperjs/casperjs.git
$ cd casperjs
$ ln -sf `pwd`/bin/casperjs /usr/local/bin/casperjs

I get this message after run casperjs xy.js:
: No such file or directory

Phantomjs works, and phantom binary linked to /usr/local/bin like casperJS

[2016-09-08 07:44] hsuh commented on #1180
Is there a way to fix this locally ? I really want to run Casperjs on Windows. Any pointers would be appreciated.

[2016-09-10 08:13] rippo opened #1681 "Regression on viewportsize"
Not sure whether this is a regression in phantom or casper. But I have a simple responsive site in bootstrap that has a collapsable menu . Nothing has changed on that site.

I upgraded from 1.0.5-beta to 1.1.3

This USED to work FINE on all beta versions, that is even on the default view port size  (400px)

[code]

Basically it cannot find the second a[href]

However if I add a default viewportSiz

[2016-09-10 19:18] rippo commented on #1180
What I do is this

[code]

then

[code]

and replace contents with

[code]

a hack but 1) removes any dependancy on python and 2) allows you to use 1.1.3 (casper) and pahntom (2.1.1)

[2016-09-14 21:17] csimpi opened #1682 "Switch to iframe based on selector"
Hi!
There is an iframe without name.
How can i fill a form inside an iframe based on its id?
switchToChildFrame(0) isn't works.

Thank you!
Peter

[2016-09-14 22:39] csimpi commented on #1682
My solution is:
**You have to use --web-security=no parameter**

[code]

[2016-09-15 06:47] jefleponot commented on #1682
you have to use the "withFrame" method.

[code]

Regards

[2016-09-15 08:09] mickaelandrieu commented on #1658
As no one seems against a new team member and because we still need fresh blood, I will invite him to be part of core team :)

[2016-09-15 08:38] jefleponot commented on #1658
I accepted your invitation.
I try to contact @istr but no response.

[2016-09-15 08:48] jefleponot commented on #1680
you need the environment variable PHANTOMSJS_EXECUTABLE

$ export PHANTOMSJS_EXECUTABLE=/usr/local/bin/phantomjs
$ casperjs xy.js

Regards

[2016-09-15 08:48] #1680 closed

[2016-09-15 08:54] mickaelandrieu commented on #1658
Welcome :)

We have 2 rules:
* never merge his own pull requests
* wait for 2 reviews (sounds hard theses times as most of the team is unactive :/)

Mickaël

[2016-09-15 08:58] jefleponot commented on #1677
Good PR

do you mind to test others namespaces ?

[code]

[2016-09-15 09:08] jefleponot commented on #1658
it seems logical.
Thank you for everything.

Jef

how should we deal with the issues (label, close, ...) ?

[2016-09-15 09:12] jefleponot commented on #1658
another thing, could you please tell me who we can rerun travis tests ?

[2016-09-15 09:13] mickaelandrieu commented on #1658
Of course you can use labels or create new ones if needed, you can close every old or irrelevant anymore issue.

You should be able to re run travis tests, I will do it else :)

I'm sorry to not be that active, I have so much work with PrestaShop.

[2016-09-15 10:18] csimpi commented on #1682
Hi! As i said,my iframe has no name attribute, and some resason withFrame method works only name or number of iframe, and i can't use selector :(
I tried use number of frame but it isn't worked.
But i posed my solution before.

[2016-09-15 10:23] jefleponot commented on #1682
IFRAMES has position so just pass your iframe position in withFrame method :-)

[2016-09-15 10:25] jefleponot commented on #1682
withFrame(String|**Number** frameInfo, Function then)

[2016-09-15 10:26] csimpi commented on #1682
**I tried use number of frame but it isn't worked.**

[2016-09-15 10:26] jefleponot commented on #1682
it begin to 0

[2016-09-15 10:27] csimpi commented on #1682
Yes, i know, i coding from when i was 7 years old, so yes, i know :))) Ty

[2016-09-15 10:35] jefleponot commented on #1682
ah ok,ty

[2016-09-16 12:15] 1dal opened #1683 "Logger module: Misleading doc"
Hi,
in docs:

_You can also dump a JSON log of your Casper suite just by rendering the contents of the Casper.logs property:_
`
var casper = require('casper').create({
// ...
casper.run(function() {
    require('utils').dump(this.logs);
    this.exit();
});
`

This is not working. Dump line can be replaced with `utils.dump(this.result.log);`.
Sorry for bad english.

[2016-09-16 13:00] mickaelandrieu commented on #1683
Hi @onedal88 would you mind to do a pull request to update the example in docs ?

Thank you

Mickaël

[2016-09-16 17:16] csimpi opened #1684 "CasperJS randomly stops"
Hi!

Is there any variable limits in casperJS?
I have a huge URL list (300 url). I use eachthen and thenopen to open all url and evaluate some datas.
When i use my script with 1-10 url it is run well, but when i use 50+ url casperjs randomly stops (sometimes it can get through all url).
I can think to overflow or something similar error.
Anybody with similar problem?

Peter

[2016-09-16 19:58] jaamo commented on #1250
This would actually be a great feature. Any plans to merge this into master? Or any other good practices to securely pass passwords to tests :)

[2016-09-17 13:03] csimpi commented on #1684
I keep digging, and i can't find solution.
I have a script what step through a link all pages, and put all pages all links to a variable.
I'ts a huge list with ~15000 url.
The script crashes without debug error message after ~100 pages (4800 url)

[code]

[2016-09-17 16:16] mickaelandrieu commented on #1684
The error is self described. You should report the issue to phantomJS core team.

Give a try to SlimerJs also, you can use it with CasperJS.

[2016-09-17 16:16] #1684 closed

[2016-09-19 08:41] #1677 closed

[2016-09-19 08:42] #1682 closed

[2016-09-19 11:58] csimpi opened #1685 "thenOpen inside eachThen opens wrong url"
[code]

**Result**

[code]

WTF?
You can see url variable contents new url (http://www.full-serie.com/seriestv/594-high-maintenance-saison-1-episode-1.html), thenOpen open it, but after open the title, url and screenshot is the old url. thenOpen don't open URL in url variable.
currentURL != url
Why?

[2016-09-19 13:14] z3ronp opened #1686 "checkStep function infinite loop"
Hi:
i add log in Casper checkStep function as follow:

[code]

and set casper log level as debug
but application output follow logs:

if added new step, then run new step,and then output infinite logs, self.checker not changed
It seem clearInterval not working, checkStep function in infinite loop

[2016-09-20 05:44] mragansh opened #1687 "CasperError: Can't find module ./lib/extended {with phantom 2.1.1 and casper version 1.1.3}"
unable to upgrade my casper version and phantom version for my project as lib path are not able to get the functionality .
var casper = require('./lib/casper-extended').create({
    verbose: true
    , colorizerType: "Dummy"
    , logLevel: "debug"
});
Need help to resolve this.

[2016-09-20 08:07] mickaelandrieu commented on #1687
hi @mragansh,
sounds like you are using your own fork of casperjs, try to find help on stackoverflow or to hire someone to help you, GitHub issues are only about CasperJS bugs.

Thank you

[2016-09-20 08:07] #1687 closed

[2016-09-20 15:31] ntanitime opened #1688 "thenOpen not working"
**casperjs: v1.1.3
phantomjs: v2.1.1**

This is my code
[code]

I tried to execute it with:

[code]

But the result is always the same:

and the function `thenOpen` didn't load the correct page.

This is the complete output:
[code]

Instead, when I load the page that raise the warning as first step everything work fine.

[2016-09-20 16:02] mickaelandrieu commented on #1688
Hi,

just saw the related website is using react, I'm not sure this is compatible with phantomjs 2... you should ask to @phantomjs core team about it, CasperJS only use phantomjs or slimerjs as engine.

Thank you for the feedback

[2016-09-20 16:02] #1688 closed

[2016-09-21 02:37] xwartz opened #1689 "[error] [phantom] Maximum step execution timeout exceeded for step"
I have a page that fails with this error sometimes，I have no idea how to handle the error.

Any one help?

[2016-09-21 03:25] xwartz opened #1690 "Unable to open file"
run casper.download(https://s3.amazonaws.com/uifaces/faces/twitter/mekal/128.jpg, '/Users/xx/avatar/')

Error message:

[info] [phantom] Starting...
[info] [phantom] Execution timeout set to 6000000ms
https://s3.amazonaws.com/uifaces/faces/twitter/mekal/128.jpg
[info] [phantom] Running suite: 2 steps
[info] [phantom] Step anonymous 2/2 https://s3.amazonaws.com/uifaces/faces/twitter/mekal/128.jpg (

[2016-09-21 03:30] xwartz commented on #1690
Fixed.

[2016-09-21 03:30] #1690 closed

[2016-09-23 15:10] onedal88 commented on #1683
Hi @mickaelandrieu,  #1691

Thank you.

[2016-09-24 10:27] jamb0ss opened #1692 "The unpredictable behavior with the pre-1.0 way to pass args"
With the pre-1.0 way to pass args to `casper.evaluate` function we have an unpredictable behavior, that cause a very hard to find bugs.

For instance, if the number of keys in the `data` object is equal to the number of expected args of the  `casper.evaluate` function, then this object is "unpacked" according to the pre-1.0 way:

[code]

Expected output:

[code]

Output:

[code]

and if we change

[2016-09-27 21:00] hajpoj commented on #705
try `casperjs --remote-debugger-port=9001 casper_test.js` (instead of `phantomjs`)
Check out this too: https://drupalize.me/blog/201410/using-remote-debugger-casperjs-and-phantomjs

In the debugger on `localhost` You might have to go to the `sources` tab and enable remote debugging for all sessions and refresh to get the debugger to halt on a `debugger;` line

[2016-10-01 14:17] childen commented on #1576
We are experiencing the same problem as @entendu. Afaik the early PASS message is generated as soon as the test.begin callback function returns (next method in begin). Instead it shoud be generated when the test.done() function is called (next method in done).

The bug does not appear in the examples as they call casper.run in the begin functions callback method.

[2016-10-03 19:59] mickaelandrieu commented on #1576
Merged, thank you !

[2016-10-03 19:59] #1576 closed

[2016-10-04 07:26] mehdishojaei opened #1694 "captureSelector and captureBase64 have problem with scrolled pages."
These functions return incorrect image for a selector if the page is scrolled.

This script:

[code]

Captures this image:
![after-scroll](https://cloud.githubusercontent.com/assets/2007598/19065452/7fe8dcfa-8a20-11e6-8485-604155dffb9a.png)

Instead of this:
![before-scroll](https://cloud.githubusercontent.com/assets/2007598/19065461/8d1726b6-8a20-11e6-8350-e251434243ff.png)

PR #1695 resolves thi

[2016-10-04 11:57] metmajer commented on #1355
I have just created this little project out of a personal need: https://github.com/metmajer/casperjs-as-a-service. Feel free to check it out and provide feedback, cheers!

[2016-10-05 12:51] abnerlee opened #1696 "No stack trace for test fials"
On casperjs 1.1-beta3/phantomjs 1.9.7/macOs 11.11, casperjs can print stack trace when test fails (like #1230)

But after I upgrade to casperjs 1.1.2/phantomjs 2.1.1/macOS 11.12, the test fail message is too simple and without any detailed info, for example:

[code]

It should also print out the test `.js` file and some line number

PS: I already set `logLevel: "debug", verbose: true`, and use com

[2016-10-06 11:45] stackflows opened #1698 "Windows release package 1.1.3 still shows version 1.1.2"
`casperjs.exe --version` yields 1.1.2 instead of 1.1.3 when using the [1.1.3 release zip archive](https://github.com/casperjs/casperjs/files/513615/casperjs-1.1.3.zip).

E.g. in package.json:

[code]

Maybe the ZIP archive was built from an outdated source tree?

[2016-10-06 20:01] sputnick-dev opened #1700 "Click on the bookmarklet doesn't load __utils__"
Hi,

when I click on the bookmarklet proposed on http://docs.casperjs.org/en/latest/modules/clientutils.html, `__utils__` is not loaded :

    __utils__.getElementsByXPath('/')
    VM329:1 Uncaught ReferenceError: __utils__ is not defined(…)

In the console, when I click on the bookmarklet, I get :

    GET https://rawgit.com/casperjs/casperjs/master/modules/clientutils.js net::ERR_BLOCKED_BY_CLIE

[2016-10-06 20:15] sputnick-dev commented on #1700
OK, searched google, it's my Ublock Origin http://stackoverflow.com/questions/23341765/getting-neterr-blocked-by-client-error-on-some-ajax-calls

[2016-10-07 19:48] LeeYongY opened #1701 "caseprjs error.."
casper.start("https://nid.naver.com/nidlogin.login").waitForUrl("naver.",function(){

[code]

var linkSelector = 'input.btn_global';
    if (!this.exists(linkSelector)) return;
    this.click(linkSelector);
    this.evaluate(function(linkSelector) {
        **utils**.findOne(linkSelector).setAttribute("className", "clicked");
    }, linkSelector);

}).wait(5000,function(){
console.log(this.getCurr

[2016-10-12 22:40] aschyiel opened #1702 "--engine=slimerjs vs. exit code"
((I might be wrong about this, but..))

It looks like the `--engine=slimerjs` flag is erroneously returning an exit code of `0` instead of `1` for failing casperjs tests.
## Example Terminal output

Here I'm running the same script with and without slimerjs as the engine.  Notice how the exit codes are no longer the same.

[code]

[code]
## Example script contents

Here's the script I was using to

[2016-10-13 17:53] max-favilli commented on #1494
I am having the same issue.

[2016-10-13 17:55] ChandanaSrinivasa opened #1703 "js -v"

[2016-10-13 17:55] #1703 closed

[2016-10-15 21:14] zzanzare opened #1704 "wrong signatures of event callbacks in docs"
see http://docs.casperjs.org/en/latest/modules/casper.html#onresourcereceived
onResourceReceived in fact receives a Casper object as the first argument, docs only talks about a resource object
onResourceRequested is missing a signature completely

[2016-10-19 18:09] SubhajitSarkar commented on #1180
I'm using Windows 10 64 bit and install casperJS using

`npm install -g casperjs`

After that when I try to check install version, I get `Can't open C:\User\[USER_NAME]`

What I do to fix this issue:

1. Checked the global installation location:
`C:\Users\[USER NAME]\AppData\Roaming\npm\node_modules\casperjs\bin`.
(Here in my username I use my full name, So Casper unable to get the full name. It s

[2016-10-19 21:03] mickaelandrieu commented on #1180
@SubhajitSarkar thanks for providing a workaround :)

[2016-10-23 21:45] #1700 closed

[2016-10-25 07:27] masud-technope commented on #1042
Facing exactly the same problem with yahoo finance pages. Can you guys lead me to a fix?

[2016-10-25 10:59] rainbowhat opened #1706 "Url Change Crashes Bash file"
[debug] [phantom] Navigation requested: url=about:blank, type=Other, willNavigate=true, isMainFrame=true
[debug] [phantom] url changed to "about:blank"

Every time the site returns this, bash would see that as "completed" , anyway to get around this?

[2016-10-25 11:00] #1706 closed

[2016-10-27 13:18] prasanthsd opened #1707 "empty POST when submitting form with large data"
I have a form that is loaded and I just simply submit the form. In the form there is input type=hidden field that has some long string stored in it. This works fine on a regular browser and does not work with casper. On analyzing this with, apache itself is getting empty POST data from casper. If I reduce the data on the hidden input it works fine. Is there a size limit or something defined in cas

[2016-10-27 13:45] mickaelandrieu commented on #1707
When asking for help, please ask your question [on the mailing list ](http://groups.google.com/group/casperjs) first.

If you feel that you need to report an issue against CasperJS (and you are sure that it is not a problem specific to your installation), please include at least:
- the platform you are running on (like here: CentOS)
- the CasperJS version you are using
- the engine type and versio

[2016-10-27 13:45] #1707 closed

[2016-10-29 18:04] borutkitak opened #1708 "casper.start is not a function"

[2016-10-29 21:41] Morbit commented on #1608
I have the same problem in version 2.1.1

[2016-10-30 16:06] #1708 closed

[2016-10-31 01:46] xurwxj opened #1709 "is possible to not output content to stdout?"
it's default output to stdout when we grab content of a url, is possible change to a variable?

[code]

content of a.stdout will also be displayed in stdout.log that we dont want to when code as above.

[2016-10-31 15:18] ikertrump opened #1710 "Cannot extract knockoutjs data-bind created content on ubuntu os. Works on windows."
I am writing a casperjs script. It extracts the text of a span tag, which content is created by knockoutjs data-bind. My code works perfectly on windows, but it doesn´t work on linux (either on debian or on ubuntu). If I write the this.getHTML() in a txt file, all data-bind elements are not loaded in DOM.  They only appear as an array in a script tag.
The version of my phantomjs is 2.1.1. I have t

[2016-11-02 13:17] #1658 closed

[2016-11-02 13:18] #972 closed

[2016-11-03 01:39] zero-master opened #1711 "Unable to log popup URLs"
[code]

Expecting:
http://www.popuptest.com/popup4.html
http://www.popuptest.com/popup5.html

[2016-11-03 06:49] m7mdcc commented on #1708
how you solve this ? i guess its ugly right?

[2016-11-03 07:58] jefleponot commented on #1710
Hi @ikertrump,

You code can't work for many reasons.

"casper.wait(5000);" is an asynchronous method so you have to use it like that :

[code]

it's not recommended to use a "wait" method because duration aren't constants, It is better to use a "waitFor" method on up-datable texts.

Regards.
jef

[2016-11-03 09:39] jefleponot commented on #1711
You are right

CasperJS doesn't manage correctly popups

in casper.js

[code]

[2016-11-03 10:18] #1694 closed

[2016-11-04 06:20] kmaelane opened #1712 "JS"
JS

[2016-11-04 09:15] #1712 closed

[2016-11-05 19:52] ikertrump commented on #1710
Thank you for your response Jef. You are right  that I have to retrive the data inside the casper.wait. However, that doesn`t resolve my problem. The code that you sent me works perfectly on windows but not on debian os. The problem is related to the data-bind generated element. The html tag is this :
`` <span class="product-name" data-bind="visible: nameLabelVisible(), text: selectedNameLabel(),

[2016-11-06 09:27] jefleponot commented on #1710
Hi @ikertrump,

really strange bug,

Could you create a branch with your code to test ? it's quite difficult to identify bug without reproduce it.
Regards

[2016-11-06 11:40] ikertrump commented on #1710
Hi @jefleponot
Thank you so much for your help. This problem is driving me crazy. You have an example down below. I decided to wait 10 seconds, i think it is enough time to load the page while testing. The problem is with data-bind elements. I have attached the html code retrieved from the casperjs. As you can see, in html_windows.txt the `<span class="current-who capital" data-bind="text: current

[2016-11-07 10:32] jefleponot commented on #1710
Hi @ikertrump

"Deine IP 176.9.107.215 wurde blockiert"

You never go to the good site with debian.
- With Window you go on an english web site : Mamba — Free online chat, networking and social dating
- With Linux, you go on a german web site: Anmelden Mamba.ru kostenfreies soziales Netzwerk und chatte mit neuen Freunden in der ganzen Welt!

change your environment variable or just the http header

[2016-11-07 20:29] shanewignall opened #1713 "Casper hangs indefinitely on click"
On the site I'm testing, in the browser, I click on a button (image with onClick method), and it opens a modal dialog.

In casper, when I click, the script hangs indefinitely with no console output.

Any code written after the click will not execute. Below I have pasted the portion of the code I am talking about, with the two methods of clicking I have tried commented out.

    this.then(function(

[2016-11-08 06:38] shailajapatil45 commented on #987
https://github.com/datakurre/phantomrobot
I am referring above page for installing phatomrobot.

on mac: when executing
bin/buildout

getting an error:
Updating nodejs.
Installing phantomjs.
Downloading https://phantomjs.googlecode.com/files/phantomjs-1.9.0-macosx.zip
While:
  Installing phantomjs.
Error: Error downloading extends for URL https://phantomjs.googlecode.com/files/phantomjs-1.9.0-maco

[2016-11-08 08:25] jefleponot commented on #1713
hi @shanewignall

with modal dialog, use a filter event

page.confirm

Arguments: message

Return type: Boolean

New in version 1.0.

Allows to react on a javascript confirm() call:
[code]
page.prompt

Arguments: message, value

Return type: String

New in version 1.0.

Allows to react on a javascript prompt() call:
[code]

[2016-11-08 08:37] jefleponot commented on #987
https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/phantomjs/phantomjs-1.9.0-macosx.zip

installation script ? What does that mean ? casperjs never install anything
Regards

[2016-11-08 08:38] #1710 closed

[2016-11-08 08:39] #1704 closed

[2016-11-08 15:38] shanewignall commented on #1713
Setting a 'page.prompt' filter with 'setFilter' (before clicking the button to open the window) still doesn't trigger after clicking the button. Still an indefinite hang.. no code from within the 'setFilter' was executed..

[2016-11-08 16:03] shanewignall commented on #1713
Tried casper.mouse.click('#myselector'), and it did _not_ make the script hang, but it also did not make the modal window appear, even after a manual wait of 10 seconds.

[2016-11-08 16:26] jefleponot commented on #1713
Modal window never appears with phantomjs or slimerjs because it is create by windows manager (windowOS or macos or ...)
Something window popup can freeze main page.

Try to trace all requests

[2016-11-08 18:48] shanewignall commented on #1713
@jefleponot  Ahh, that makes sense! Thanks for the info, I'm glad I know that now. If that's true, then this issue is definitely not a fault with casper, so I will close this in a bit.. but first.. how do you 'trace' requests?

Also, to get around this issue, I'm going to test out using the code from http://stackoverflow.com/questions/25663053/how-can-i-make-window-showmodaldialog-work-in-chrome-3

[2016-11-10 18:44] shanewignall commented on #1713
@jefleponot Injecting that code didn't help.. there's got to be a way to get around this.. some code to inject to replace the window.showModalDialog function.. The code in the link above replaces the modal dialog with a normal window.. maybe I'm not switching to the new window or something like that?

[2016-11-10 18:47] shanewignall commented on #1713
I have an 'on.('popup.loaded') event, and that is triggered, but if I take a screenshot from within that event, I just get half of the screen, maybe the half that the popup isn't covering? Maybe the code I inject will allow me to switch to the window before taking a screenshot? Then again.. not sure how casper handles normal windows..

[2016-11-10 23:42] heldrida opened #1714 "Cannot find module 'casper' after npm install --save"
After npm install --save casperjs

I get the error Cannot find module 'casper'

Looking into node_modules directory, I find the casperjs directory, so

require('casperjs') also returns

I get the error Cannot find module 'casperjs'
[code]

[2016-11-10 23:43] heldrida commented on #1714
Ok forget it
`
While CasperJS is installable via npm, it is not a NodeJS module and will not work with NodeJS out of the box. You cannot load casper by using require(‘casperjs’) in node. Note that CasperJS is not capable of using a vast majority of NodeJS modules out there. Experiment and use your best judgement.`

[2016-11-10 23:43] #1714 closed

[2016-11-11 13:23] zzanzare commented on #1328
I believe this one can be closed as well now.

[2016-11-13 23:34] dritter opened #1715 "Local setUp/tearDown functions cannot be async"
If I specify a configuration object with async `setUp` and/or `tearDown` functions these never get called.

Example:
[code]

In the [docs](http://docs.casperjs.org/en/latest/modules/tester.html#setup) there is no word about async setUp/tearDown working _only_ in the casperjs-global context.

[2016-11-14 10:15] bashizer opened #1716 "upload file doesnt work"
I want to upload file but doesn't work i don't know why ??

web site
`...
<input onchange='uploadImages()' type="file" id="photo" accept="image/*" multiple>
...`
casperjs
`...
this.page.uploadFile("input#photo", 'logo.jpg');
...`

[2016-11-14 11:17] #1328 closed

[2016-11-14 11:24] jefleponot commented on #1713
Could you give us the url site to understand that happen ?

[2016-11-14 11:43] TitanNitWeb opened #1717 "<deleted> Popup in casper.popup after popup is closed"
Hi,

If you have more than one popup in an iframe and check it with casper.withPopup(...) you get an Error.
(Open Popup 1 -> Close Popup 1 -> Open Popup 2 -|->Error)

I have figuered out that casper.popups first element is in an undefined status (neither null nor undefined or something it is "<deleted>").

To solve this problem you can make something like this:

`casper.on('popup.loaded', function

[2016-11-14 14:39] shanewignall commented on #1713
The website is behind a corporate firewall, but if it helps, this is the code executed when the button is clicked, with the parameters of (ADSearch, 6). Let me know if you want me to inspect any other code on the page.

[code]

[2016-11-15 16:12] jefleponot commented on #1717
Hi @TitanNitWeb
Could you propose a PR ?

Regards
JEF

[2016-11-15 21:10] zaz opened #1719 "Should declare dependency on PhantomJS"
The [`phantomjs-prebuilt`](https://www.npmjs.com/package/phantomjs-prebuilt) package should be added as a dependency, as CasperJS doesn't seem to work at all without it.

If there's some practical reason for not doing this, it should at least be added as an optional dependency.

[2016-11-16 01:21] bmcorser opened #1720 "XUnit output is empty"
I'm using [a Docker image](https://github.com/fatihcode/dockerhub/blob/master/slimerjs/Dockerfile) to run tests using the tester module. However, the XML output seems to show that no tests ran. I've a made a demo repo where the issue should be easily reproducible (it depends Docker `:/`) ...

https://github.com/bmcorser/casperjs-xunit-fail

[2016-11-16 12:39] Gohan opened #1721 "casperjs 1.1.2 mac homebrew version, download file break"
Using casperjs automatic download my ebooks, but many of them download as result of zero bytes.

Use verbose option, looks casperjs use ajax call to download file, there is no error message when download break.

![image](https://cloud.githubusercontent.com/assets/212567/20347536/96d7dda6-ac3c-11e6-92fa-d7fc688b7c77.png)

[2016-11-16 15:36] bmcorser commented on #1720
Ah, the Docker image I was using referred to outdated versions of Casper and Slimer.

[2016-11-16 15:36] #1720 closed

[2016-11-17 18:34] enmanuelduran commented on #1342
Is there a solution to this problem? I'm trying to download big files 20mb+ from casperjs ad it throws:

[error] [remote] getBinary(): Error while fetching http://usmoffers.com/affiliates/s.ashx?c=1977: [Exception... "Failure" nsresult: "0x80004005 (NS_ERROR_FAILURE)" location: "JS frame :: /usr/local/lib/node_modules/casperjs/modules/clientutils.js :: sendAJAX :: line 894" data: no]

just downloa

[2016-11-17 20:36] mickaelandrieu commented on #1342
@enmanuelduran give a try to slimerJS engine :)

[2016-11-17 21:52] enmanuelduran commented on #1342
@mickaelandrieu yes, in fact I started using slimerJs engine since the beginning but doesn't work, here's my case explained: http://stackoverflow.com/questions/40342285/unable-to-download-zip-file-from-url-with-casperjs

[2016-11-18 08:45] luqmansungkar commented on #1717
Just discovered this issue today after struggling with it for a few days, and I think the problem is in the `findByRegExp` and `findByURL` function in `pagestack.js`. Specifically in line where it check if the regex or the url match the popup url, it will throw an error because it can't access the url from the deleted popupPage object.

It can be fixed by changing the implementation to something l

[2016-11-18 10:29] jefleponot opened #1722 "new functionnality : waitForRender"
Hi everybody,

With CasperJs, you can take whole or partial screen-shots (with "casper.captureX" methods), but ...

Issues :
- how to be sure that rendering is what you expect (Image / Canvas / Flash / Video / SVG / Complex CSS) ?
- how to wait for the end of a css3 or JavaScript animation ?
- how to click on a screen zone without any locator (canvas / Image Area ) or dynamic selector ?

I would l

[2016-11-18 12:33] mickaelandrieu commented on #1722
Why not ? As soon as we can test it, I agree :)

Thank you @jefleponot !

[2016-11-18 14:40] mehdishojaei commented on #1722
@jefleponot,  Good Idea.

[2016-11-19 12:33] mehdishojaei commented on #1722
I think the main problem is that always we have a delay between screen captures, so for example in animations the desired frame can be lost.

[2016-11-25 10:50] ChrisBAshton opened #1724 "casperjs-1.1.3 wrong version reported"
[code]

^^ reports as 1.1.2, expected 1.1.3.

[2016-11-25 19:39] mlalpho commented on #1724
Ping @bigjuevos anything to do with #1639 ?

[2016-11-29 09:33] gitredvike commented on #1716
I have the same issue. I'm using the example from the documentation, but it doesn't work for me - http://docs.casperjs.org/en/latest/modules/casper.html#fill.

[2016-11-29 09:34] turakvlad commented on #1716
I have the same issue. I'm using the example from the documentation, but it doesn't work for me - http://docs.casperjs.org/en/latest/modules/casper.html#fill.

[2016-11-29 11:15] NaikPrateek opened #1725 "wait() is not working as expected"
I have created some functions, that i will use in some of the scripts. below is the just one sample function which does page validation part.

    //verify page is opened properly
    exports.validation = function (casper) {
         return casper
             .wait(5000, function () {
                 this.wait(8000);
                 this.waitUntilVisible('.icon-share', function () {

[2016-11-29 15:27] TitanNitWeb commented on #1717
I have also never done a PR. Both solutions don't solve the problem to 100%. I have to test an web-application with many popups and "casper.popup" is very instable.

[2016-11-30 09:15] jefleponot commented on #1717
Hi @luqmansungkar and @TitanNitWeb,

Yours experiences in popup management are important for all contributors.
Could you please write one or more tests that reproduce bugs thaht you have encountered ?

1. Fork the casperJS project to have your own github repo
2. clone casperJS project on your PC with a git command : git clone https://github.com/casperjs/casperjs.git
3. add a new branch : git check

[2016-12-02 05:14] vimagick commented on #1317
This issue still exists. Can I reopen it?

[2016-12-02 09:10] jefleponot commented on #1317
Hi @vimagick , thanks for your contribution
Thank you especially for persevering.

I test you example and I have the same result on phantomjs 2.1.1
it works with slimerJS 0.10.2

[code]

CasperJS use an asynchronous call to stop the program execution. So multiple calls of the "die" method are authorised.
Here is a proposal Fix : #1726

[2016-12-02 13:37] tmallery opened #1727 "popup windows are wiped out between Tester instances"
The problem is that if you have multiple Tester test cases, the main page is preserved between them, but all popups are not.

Test case below, but it looks like a simple fix to casper.start(). It stomps over the existing "this.popups" object with a new pagestack instance.

I've included a test, note that you have to rename the file extensions:
childWindowTest -> '.js'
otherWindow -> '.html'
spawns

[2016-12-02 13:46] tmallery commented on #1662
This is a bug phantomjs, https://github.com/ariya/phantomjs/issues/11884.
I found that the code below doesn't work. I saw in the proxy log that created the page was requested with the same default phantomjs user-agent no matter what I set.
[code]

[2016-12-06 11:44] hotam-singh opened #1729 "How to use removeTree() from the casperjs script"

[2016-12-06 21:34] bughit opened #1730 "bootrap.js is needlessly creating global variables"
[code]

[2016-12-07 07:51] jefleponot commented on #1730
Could you please make a PR ?

[2016-12-07 17:00] jefleponot opened #1731 "Bug in require"
When you use a require in a module file, you can't call a casperjs module with **PhantomJS**.

example :

go.js file
[code]

main.js file
[code]

**FAIL Error: Cannot find module 'utils'**

to bypass this bug you must add this line before
[code]
it will work for Phantomjs and SlimerJS

Regards

[2016-12-11 14:51] sputnick-dev opened #1732 "generate canvas from base64 image and get context.getImageData() is broken"
Hi,

I tried with casper 1.1.3, 1.1.1, 1.0.2, none work with this code :

[code]
The script should print the rgba values of this image, but all are rgba(0,0,0,0).

If you copy paste the evaluate part in chrome dev tools (by example), you will see ![](http://pix.toile-libre.org/upload/original/1481467439.png) and values of rgba() != 0.

(if anyone knows a workaround, please share)

[2016-12-11 16:03] sputnick-dev commented on #1732
This is related to phantomjs, tried 2.1.1

[2016-12-11 16:03] #1732 closed

[2016-12-12 16:30] krazyjakee commented on #1685
WOW nearly 3 months!

Their documentation for [eachThen](http://docs.casperjs.org/en/latest/modules/casper.html#eachthen) uses this exact example and it's failing. Probably worth writing a test for this.

[2016-12-12 16:33] mlalpho commented on #1685
@jefleponot @istr @mickaelandrieu @BIGjuevos  can we get this labeled? Needs testing? Bug? Confirmed?

[2016-12-12 16:58] krazyjakee commented on #1685
It looks like if there are any failures in `thenOpen` then it echoes the title of the last working instance. OP, like me, may have not been running or had failures running his local test server. The issue is that the example should be updated to check that the `thenOpen` was actually successful before echoing the title.

[2016-12-12 17:54] mlalpho commented on #1685
@krazyjakee would you be willing to submit a PR for the documentation example and note the expectations?

[2016-12-13 04:35] mlalpho commented on #1609
Any progress on this?

[2016-12-13 04:40] mlalpho commented on #1608
If this is a duplicate and only present on PhantomJS 1.9* then can this and #340 be closed?

If not and is confirmed to still be present and it's a node issue (can't fix in casperjs), then can someone document the weird behavior and submit a PR, so that there are no further duplicates?

[2016-12-13 04:44] mlalpho commented on #1663
Can someone submit a PR for the documentation to clarify the support for promises?

Perhaps require ES6+ for 2.0 so that CasperJS can use promises at its core?

[2016-12-13 09:52] jefleponot commented on #1609
@mlalpho, Thank you point this evolution.
That is quite a challenge to create test code for this feature :smile:
I will try to do it

[2016-12-13 09:55] #1730 closed

[2016-12-13 13:43] jefleponot commented on #1608
No more bug

[2016-12-13 13:43] #1608 closed

[2016-12-13 14:20] #1713 closed

[2016-12-13 18:06] amberv0 opened #1736 "Annoying failing visibility check issue with hidden ancestor"
Referencing #1222
I'm wondering why it has been there for ages and nobody fixed that.
So in `clientutils.js` in the `this.elementVisible` part of the check is:
[code]

I really have no clue why it is done this way (but I suppose there should be a good reason) - but this obviously causes problems with hidden ancestors. E.g., imagine I have a button (inline-block) in a hidden div (my real case). Thi

[2016-12-13 18:26] mlalpho commented on #1736
@amberv0 would you be willing to submit a PR for a fix and update tests? It looks like @Rykus0 was working on one but I haven't seen a PR. This issue has surely fallen through the cracks.

If can use jquery and `casper.evaluate` `$( 'element' ).is( ':visible' )` that could work in the mean time..

[2016-12-13 22:36] amberv0 commented on #1736
@mlalpho, I traced the origins of the current implementation of visibility check to commit 97abe4b58af2fafd6ef36a3efa69e48607a9eb3e which is meant to fix the issue https://github.com/casperjs/casperjs/issues/715
Notably, no test for svg was added. But later @n1k0 mentioned the problem it caused. Interestingly, changes were not reverted. In my opinion, the hidden container use case is much more wid

[2016-12-13 23:41] amberv0 commented on #1736
Ok, I spent some time searching for checks of visibility in the svg case and thinking about #715. So the fix in #715 was not really a fix, it was a very fast patch by @n1k0. It was not solving the described problem at all (but was definitely causing many problems).
The original issue appeared because it turns out that for the svg elements (e.g. `circle`) `offsetWidth` and `offsetHeight` are undefi

[2016-12-13 23:44] mlalpho commented on #1736
Cheers! nice sleuthing. that sounds like a reasonable solution to me.

[2016-12-14 14:54] TitanNitWeb commented on #1717
Okay,
I have written a test which forces the error and also implemented the solution within this test.
The file is called multiplepopups.js ...
I have problems since point 8 and don't know if something is committed and if it is the right account.
I had problems adding the html files which are required for this test...
So I have made a zip with the files (added here) feel free to take this file (js

[2016-12-15 14:48] jefleponot commented on #1736
Good analysis @amberv0, can you propose a PR ?

[2016-12-15 15:02] amberv0 commented on #1736
@jefleponot , yes, going to do it. For some strange reason selftests used to fail with the new version (that's why I couldn't submit a PR right away), but it's not the case anymore - everything passes
The version that works perfectly for my urgent needs is below. Could you check that with this selftest works equally well on your system?
If everything is ok on your system, then I'll add a couple of

[2016-12-15 16:08] jefleponot commented on #1736
@amberv0 , I test you code : it doesn't work.
so with some correction, what do you think about that :

[code]

I'm waiting for svg test and "getElementBound" call :smiley:

[2016-12-15 16:13] amberv0 commented on #1736
@jefleponot , yep, of course you are right, for the svg case it wouldn't work. Thanks for noticing the missing `typeof`!

[2016-12-15 16:28] jefleponot commented on #1717
@TitanNitWeb , nice job,

I rewiew your test :
- SLIMERJS 0.10.02 : PASS 27 tests AND Freeze
- PHANTOMJS 1.9.7 : FAIL 29 tests executed in 1.955s, 27 passed, 2 failed, 0 dubious, 0 skipped.
- PHANTOMJS 2.1.1 : PASS 30 tests executed in 1.174s, 30 passed, 0 failed, 0 dubious, 0 skipped.

[2016-12-16 08:16] #1729 closed

[2016-12-16 13:32] UksusoFF commented on #1241
Same issue with 1.1.3 version.

[2016-12-16 16:25] jefleponot commented on #1241
@UksusoFF   it is a bug of phantomJS 1.9.7

i have got the same error with a pure phantomjs code

[code]

[2016-12-21 05:21] Dynatrace-BrianWilson commented on #1552
@jefleponot I just ran into this same issue. For whatever reason, putting the xpath into the variable made it work.  Thanks for posting this.

[2016-12-21 10:00] jefleponot commented on #1552
xpath must be convert into Object.

[code]

[2016-12-22 04:23] JiaxiangZheng commented on #1460
+1

From the source code `modules/casper.js`, it seems the `page.onPageCreated` event is only binded when for the first time page creating, so for code bellow will not work.

[code]

[2016-12-22 08:36] jefleponot commented on #1460
just have a look to #1711

[2016-12-22 16:01] clochix commented on #1559
I was able to start SlimerJS with a custom profile using the following syntax:
[code]
(replace `$CASPER_PATH` with the path where Casper is installed.

[2016-12-23 06:22] hotam-singh opened #1739 "I am unable to capture the screenshot on mouseover an element showing the hovercard"

[2016-12-23 08:28] jefleponot commented on #1739
Hi @hotam-singh
Could you precise version of Phantomjs or Slimerjs and CasperJS ?

[2016-12-23 09:01] hotam-singh commented on #1739
Hi,

I have latest version of casperjs and phantomjs installed on my
ubuntu(64 Bit)

casperjs-1.1.3

phantomjs-2.1.1

On Friday 23 December 2016 01:58 PM, jef wrote:

--
Warm Regards,
Hotam Singh

Junior Developer
Website Toolbox, Inc.
Email-id:hotam@websitetoolbox.com
http://www.websitetoolbox.com

[2016-12-23 09:10] jefleponot commented on #1717
I found the main error.

When an event closes a window or a popup, CasperJS continue to do treatments on the closed page (with the "evaluate" method). So PhantomJS < 2 crashes and SlimerJS crashes.

[code]

In the "casper.evaluate" method, it never checks if "WebPage" is opened or closed => that is not great.

In your instance, you close all popups because they have the same url :-1: but it doesn'

[2016-12-23 09:42] jefleponot commented on #1739
Thank, have a look at  #208 , it could help you.

[2016-12-23 09:58] hotam-singh commented on #1739
I have already tried these approaches but none worked. Plz tell me
another way how can it be possible through other approaches

On Friday 23 December 2016 03:12 PM, jef wrote:

--
Warm Regards,
Hotam Singh

Junior Developer
Website Toolbox, Inc.
Email-id:hotam@websitetoolbox.com
http://www.websitetoolbox.com

[2016-12-23 15:49] jefleponot commented on #1662
HI @tmallery,
I push a PR #1118 that solves this trouble for PhantomJS > 2 and SlimerJS > 0.9.0

[2016-12-24 23:19] amberv0 commented on #1736
Ok, got back to the subject. Now everything seems to be working and covered by tests (parent with `display:none` and the svg case, and also fixed one of the existing tests), except the case of parent having `visibility: hidden`. I'm not really sure how you could easily check that, without recursion (a nice full-featured visitility check example can be found here https://github.com/UseAllFive/true-

[2016-12-26 17:58] amberv0 commented on #1736
@jefleponot , just noticed that there is one problem reportet by travis-ci:

I don't think it's serious, but should I fix this and resubmit the PR? On my machine eslint was failing miserably to produce proper results (having too many errors reported), so I just skipped this part.

[2016-12-28 23:22] bughit opened #1741 "step timeout checking problems"
[code]
If you're going to use setInterval for this, the delay must be short (retryTimeout) otherwise the following nasty things can happen:

* You are likely to end up waiting double the stepTimeout because on the first _check, (new Date().getTime() - start > self.options.stepTimeout) may not be true
* Casper supports ["multirun"](https://github.com/casperjs/casperjs/blob/master/samples/multirun.j

[2016-12-29 00:58] bughit commented on #1741
here's a possible fix
[code]

possibly a better but more involved alternative would be to use setTimeout, store the timeoutId in the instance, turn the step property into a getter/setter and whenever step value changes, clear the timeout if tiemoutId if present (the timeout callback would null it).

[2016-12-29 10:06] sandeep1995 opened #1742 "unable to change the proxy at runtime"
I am able to set the proxy before running my start method. But I would like to change the proxy at run-time.
Here is the code
[code]

Is there any method like changing the proxy in the then block?

[2016-12-29 16:34] TimWDavis84 commented on #1574
Hey, I know this is an old question.  I just wanted to ask if you ever found a solution?  I'm trying to do something very similar with Casper, but can't figure it out even w/ hours and hours of googling.

[2016-12-30 07:58] jdc91 commented on #1180
If you cant's seem to find the place where casperjs is called from even after removing the environment variable relevant to casperjs.

1. Check User account environment variables
2. Check system environment variables
3. Check your npm location [C:\Users\Dehan de Croos\AppData\Roaming\npm] for leftover exe's that might have got installed at the npm location or any other environment variable locatio

[2017-01-03 08:24] jony89 commented on #1485
I had the same issue with casperjs 1.1.3 & phantomjs 2.1.1 .

In my case, it seems that you must provide casper.run a function. (casper.run() is not enough, u may do casper.run(function() {}) )

[2017-01-03 09:53] jefleponot commented on #1485
It works for me !!!

[code]

[2017-01-03 09:54] #1485 closed

[2017-01-03 10:27] jefleponot commented on #1742
Not Yet, could you propose a PR ?

something like :

[code]

[2017-01-03 10:31] jefleponot commented on #1739
Hi @hotam-singh ,

you have to use mouse.move, it works fine for me.

[2017-01-03 10:38] jefleponot commented on #1727
@tmallery I had propose a PR , what do you think about #1118 ?

[2017-01-03 10:41] jefleponot commented on #1725
casper.wait() have to got a callback function, example :

[code]

[2017-01-03 10:41] #1725 closed

[2017-01-03 10:43] #1724 closed

[2017-01-03 10:43] sandeep1995 commented on #1742
Hey
You are passing proxy as a param and setting

```this.page.settings.password = password;```

This does not make any sense. Is not `password` undefined?

I think you were trying to say

```this.page.settings.proxy = proxy;```

Now If we set proxy like this

```casper.setProxy(proxy)```

Will it override the previous proxy?

[2017-01-03 11:03] jefleponot commented on #1719
Please Proposes a PR

[2017-01-03 11:07] jefleponot commented on #1742
Yes , but only on the current page (not in other pages or popups)

The best way is to use a pac file https://en.wikipedia.org/wiki/Proxy_auto-config (it works on SlimerJS but not with PhantomJS)

[2017-01-03 11:10] #1711 closed

[2017-01-03 11:11] #1701 closed

[2017-01-03 15:10] samlehman commented on #1742
not sure why I was @'d

[2017-01-03 15:17] jefleponot commented on #1742
sorry :cry:  @samlehman

[2017-01-03 15:18] samlehman commented on #1742
hah, no problem.

[2017-01-04 00:24] BrainyBrian commented on #1673
I think I am experiencing the same problem on my MacOS Sierra Mac Book Pro

[2017-01-04 03:42] tmallery commented on #1727
@jefleponot , that change does many good things but I don't think it fixes this issue. I didn't see a change to Casper.start to prevent it from creating new pagestack instance when it should reuse the existing instance.

[2017-01-04 15:09] zaz commented on #1719
@jefleponot: Okay. PR #1743

[2017-01-04 15:14] jefleponot commented on #1719
@mickaelandrieu , do you agree to add this feature ?

[2017-01-06 12:00] jefleponot commented on #1727
@tmallery

I had integrated your test files, could you please check if it's better for the trouble you have pointed ?

[2017-01-09 10:06] elimence commented on #1708
Having this issue as well, any solutions?

[2017-01-09 10:12] elimence opened #1744 "casper.create is not a function"
I just installed `"casper": "^0.1.1"` and followed the basic example, but the following line:
[code]
throws the error: `TypeError: casper.start is not a function`

I'm I missing something? Saw another issue about this but it was closed without any resolution.
Thanks

[2017-01-09 16:38] BIGjuevos commented on #1744
How are you including casper?

[2017-01-12 07:52] hotam-singh opened #1745 "How to capture screenshot on mouse move"
I am trying to capture screen-shot on mouse move.

Manualy my page works as follows-
When I move mouse to the selector, an ajax request is triggerd after one second and then hovercard appeared on specific mouse move

Please help me out how should I do this using casperjs to show hovercard on mouse move

[2017-01-12 08:25] jonttu- opened #1746 "URL fragments are lost when setting window.location"
Please see attached test case. Is this intended behaviour?

The test and output are also listed below.

[code]

[code]

[test.js.zip](https://github.com/casperjs/casperjs/files/701012/test.js.zip)

[2017-01-12 08:27] jefleponot commented on #1745
Hi @hotam-singh

[code]

you can also test if an ajax request occurs :

[code]

[2017-01-12 09:36] hotam-singh commented on #1745
mouse.move is working fine but ajax request is not being called on mouse
move on that specific selector. I verified it manually.

     casper.echo(resource.url);
});

It is also not showing any ajax request called

could you tell us which browser engine is used?

I am using PhantomJS as a browser engine. My default browser is chromium
on ubuntu 16.04

On Thursday 12 January 2017 01:57 PM, jef wrot

[2017-01-12 09:50] hotam-singh commented on #1745
Hi,

         this.mouse.move("#my-link"); // moves cursor over <a
id="my-link">hey</a>
         this.mouse.move(400, 300);   // moves cursor over coordinates
x=400; y=300
     });
Casper.mouse.move is working fine but ajax request is not being called
on mouse.moce on that specific selector. I verified it manually.

         casper.echo(resource.url);
     });
It is also not showing any ajax reque

[2017-01-13 10:07] jefleponot commented on #1746
@jonttu-
Please precise your version of casperjs and browser Engine.

I test with casper 1.1.3 , here is my results:
PhantomJS 2.1.1 - http://www.google.fr/?gfe_rd=cr&ei=EaV4WJOgKert8weD1YLQCA
PhantomJS 1.9.7 - http://www.google.fr/?gfe_rd=cr&ei=OqV4WOjlK4fBXqeLsLAO
SlimerJS 0.8.4 - https://fr.yahoo.com/?p=us#param=test
SlimerJS 0.10.2 - https://fr.yahoo.com/?p=us#param=test

[2017-01-13 10:09] jefleponot commented on #1746
Else it better to use casper.open method :-)

[2017-01-13 10:42] noinlijin opened #1747 "PhantomJS has crashed. Error"
[code]
I run, this js, it's error , I change to other url, it is right, only outlook this url will run, I do not know why?

![image](https://cloud.githubusercontent.com/assets/3073370/21927167/e14795d8-d9bf-11e6-980f-47af80a496a6.png)

[2017-01-13 10:43] noinlijin commented on #1747
I try uninstall and reinstall phantomjs and casperjs , also error

[2017-01-13 10:49] mickaelandrieu commented on #1747
@noinlijin as notified, please file a bug report to phantomJS organization :)

[2017-01-13 11:16] noinlijin commented on #1747
@mickaelandrieu ok I have done it

[2017-01-13 12:10] jefleponot commented on #1747
version of casperJS ?

[2017-01-13 12:21] jefleponot opened #1748 "Too many Pull Requests"
@mickaelandrieu
There are too many PR now, it could be nice to have a new release, do you agree to merge all that is ready ? Do you prefer that I personally merge PR ?

jef

[2017-01-13 12:36] noinlijin commented on #1747
![image](https://cloud.githubusercontent.com/assets/3073370/21930250/f18bb1b2-d9cf-11e6-9866-78df2d1293d0.png)

[2017-01-13 12:38] noinlijin commented on #1747
I try to use --engine=slimerjs that will be no error, I think it is really phantomJs bug

[2017-01-13 13:23] mickaelandrieu commented on #1748
I have contacted the two last "release managers" to get some information about how to do it.

My point here is to release the *last version* of CasperJS and declare the project "unmaintained".
I don't know if we should look for new maintainers: I think CasperJS2 should rely on node and his selenium-standalone package and there is a LOT of others well-established solutions right now :)

Finally, it

[2017-01-13 13:34] mickaelandrieu commented on #1748
@jefleponot yes, you can merge all reviewed pull requests :+1:

[2017-01-13 13:36] mlalpho commented on #1748
Wow. How can we get some more maintainers set up for the site, github project etc? I'd be willing to help.

Could you share the information you've got on how to release?

[2017-01-13 13:42] mickaelandrieu commented on #1748
@mlalpho I'll share a guide in the WIKI when I will have all information to release a new version of CasperJS

I don't know :/

[2017-01-13 15:58] jefleponot commented on #1748
@mickaelandrieu ,

I would like to thank you for your brilliant advices and above all your contributions.
You allowed me to make great progress in project management with git hub.

For me, I have to maintain the project because all my supervision scripts use CasperJS to check government web services. CasperJS is fully efficient and enduring for massive tests injection (on the opposite to selenium

[2017-01-13 16:02] jefleponot commented on #1748
@mlalpho , do you really want to contribute because you never send any PR ?

[2017-01-13 16:07] jefleponot commented on #1747
Try with phantomJS 1.9.7

[2017-01-13 16:08] #1747 closed

[2017-01-13 16:08] #1746 closed

[2017-01-13 16:08] #1744 closed

[2017-01-13 17:08] mlalpho commented on #1748
Linking #1350

[2017-01-16 04:44] noinlijin commented on #1747
thanks

[2017-01-16 07:56] jefleponot commented on #1748
@mickaelandrieu , do you agree to give me more rights like a real member (not only a contributor)
It allows me to add bguerin  and  mlalpho as a contributors to review my commits.

[2017-01-16 11:23] Henry-T commented on #1673
same with me

[2017-01-16 20:53] mickaelandrieu commented on #1748
@jefleponot I can't I don't have the required rights to give rights :D

[2017-01-17 10:32] n1k0 commented on #1748
@jefleponot @mickaelandrieu I've just made you org owners. handle with care :)

[2017-01-17 12:27] jefleponot commented on #1748
Salut Nicolas,

Merci pour ta confiance.

Très cordialement,
Jef

----- Mail original -----

De: "Nicolas Perriault" <notifications@github.com>
À: "casperjs/casperjs" <casperjs@noreply.github.com>
Cc: "jef" <jefleponot@laposte.net>, "Mention" <mention@noreply.github.com>
Envoyé: Mardi 17 Janvier 2017 11:32:09
Objet: Re: [casperjs/casperjs] Too many Pull Requests (#1748)

@jefleponot @mickaelandrie

[2017-01-18 12:05] khalistan opened #1749 "not rendering SVG images."
I want to unveil event from pics its not working.
http://luis-almeida.github.io/unveil/
I tried to evaluate $('img').unveil();
but its not working.

[2017-01-18 19:23] BIGjuevos commented on #1749
This very much seems like a PhantomJS issue.

I encourage you to look at the debugging toolkits provided to you by CasperJS, PhantomJS/SlimerJS.

CasperJS: http://docs.casperjs.org/en/latest/debugging.html
PhantomJS: http://phantomjs.org/troubleshooting.html
SlimerJS: https://docs.slimerjs.org/current/configuration.html#about-debug

In the event you can convert this into a reproducible bug that tr

[2017-01-18 19:23] #1749 closed

[2017-01-19 11:06] khalistan commented on #1749
I have this code:

[code]

But still image is not in ref.

[2017-01-19 12:02] CyborTronik opened #1750 "CucumberJS can't load CasperJS"
Trying to use "cucumber": "^1.3.1" and "casperjs": "^1.1.3" and got: "Cannot find module 'casper'"
same for 'casperjs'.

In the same time I'm able to use other modules.

[2017-01-19 13:18] khalistan opened #1751 "enveil event not working"
please don't close this issue without resolving it.
I am using lazy load on images. There are some images on footer which not get loaded even they are on view port. My site have so many images that it normally time-out if I will wait for footer images. As for ref. I just need footer images. So I thought I can manually use 'enveil' event.(http://luis-almeida.github.io/unveil/)
Here is my code:-
[co

[2017-01-19 13:33] hotam-singh commented on #1739
Today’s work is as following.

1) Worked on socket disconnection issue.

  *

    I analyzed the chat-prototype and run prototype. It is working fine.
    Disconnect event was called.

  *

    I uploaded prototype on chatbeta server and then run prototype.
    Application is running properly but the application is stopped after
    some time automatically.

  *

    I copied server,js file from c

[2017-01-19 13:53] mickaelandrieu commented on #1750
Hello,

CasperJs is not a node module :)

[2017-01-19 21:04] jefleponot commented on #1749
PhantomJS must be compiled with svg library. Are you sure that is the case ?
you have to rather use SlimerJS

[2017-01-20 08:43] jefleponot commented on #1751
You code looks good
Are you sure that your selector exists : img[title="MasterCard"]
Could you send me more details (version of CasperJS / PhantomJS / Url of your page)

I test your code on http://luis-almeida.github.io/unveil/ is works perfectly

don't forget to add remote.message
[code]

[2017-01-20 08:44] #1750 closed

[2017-01-20 08:45] #1748 closed

[2017-01-20 08:47] jefleponot commented on #1745
HI @hotam-singh , do you use popups ?

[2017-01-20 08:53] jefleponot commented on #1742
Hi @sandeep1995
Could you precise PhantomJS version, CasperJS version, OS ?

[2017-01-20 09:17] jefleponot commented on #1741
@bughit,
that looks good..
Does errors occur to identify bug and proposal a Fix ?

it could be nice if you propose a PR.

[2017-01-20 09:20] jefleponot commented on #1736
Hi @amberv0,

I'm very interested in your PR, do you think you could finished it soon ?

Regards

[2017-01-20 13:31] hotam-singh commented on #1745
Yes, I am using pop-ups or hover-card

On Friday 20 January 2017 02:17 PM, jef wrote:

--
Warm Regards,
Hotam Singh

Junior Developer
Website Toolbox, Inc.
Email-id:hotam@websitetoolbox.com
http://www.websitetoolbox.com

[2017-01-20 13:45] jefleponot commented on #1745
you would better to wait for the next casperJS release :-) because casper.on('resource.request') doesn't work before last commits...

[2017-01-20 16:52] BIGjuevos commented on #1749
Same as #1751, Can we keep the conversation in that thread?

[2017-01-21 14:38] amberv0 commented on #1736
@jefleponot , I think it's ok now. I took your remarks into account and now all tests do pass (so the only problem was indeed with comments formatting, I guess).

[2017-01-24 13:05] vidartf commented on #1180
Just had the same issue. For me, I was able to fix it by modifying `bin/casperjs` to quote the `bootstrap.js` path and the `casper-path` path option.

[2017-01-25 13:41] Rykus0 commented on #1736
Sorry for dropping the ball on this one.  I did have a fix, but lost my work before I could clean it up and submit a PR, and I haven't been able to work on any side projects (even small ones) for a while.  It looks like @amberv0 's solution is better than mine anyway!  Glad to see this!

[2017-01-25 14:39] jefleponot commented on #1736
@amberv0 , @Rykus0 , @mlalpho

Thanks for PR and Review

[2017-02-01 04:59] casas111 commented on #468
Hello I'm having this situation. My problem is that if the fragment is not added in the load function, then the web page redirects to another page. This makes @el3ment solution useless for me.

I'm working with casperjs version 1.1.3 and phantomjs version 2.1.1 please help

[2017-02-01 09:16] jefleponot commented on #468
Hi @casas111
Thank you for refresh this old issue.

I will have a look at this trouble

[2017-02-02 11:09] DiegoTonini opened #1760 "jquery not work correctly for some methods"
I know there is not support for tap event on DOM. SO I decided to use jquery.

` casper.page.injectJs('/jquery-3.1.1.min.js');
  casper.waitUntilVisible(btnCompositionCareSel, function() {
  casper.evaluate(function() {
      $('.popup.itemDescription_composition .text').tap();

      casper.wait(2000);
      casper.waitUntilVisible(popupSel,function(){});
    });
`

And tap does not seem to work.

[2017-02-02 20:27] tgoldenberg opened #1761 "Ability to use latest ES6 features via latest Node or Babel"
It would be nice to be able to leverage ES6 syntax (`=>`, `...`, etc.) in casperJS.

Is it possible to specify the Node version when testing? Or to use `babel-node`?

These would be really great features to make it more developer-friendly. Thanks.

[2017-02-02 20:29] tgoldenberg commented on #1761
Also, does CasperJS work with `node_modules`? I tried `require`-ing some modules, but they threw errors.

[2017-02-02 20:52] mickaelandrieu commented on #1761
Hello,

you may be interested by this FAQ =>http://docs.casperjs.org/en/latest/faq.html#is-casperjs-a-node-js-library

Regards,

[2017-02-02 21:47] #1761 closed

[2017-02-05 07:08] entrptaher commented on #1581
We all saw how phantomJS did not fix the memory leaks even after 1 year.

Some random related issues:
- https://github.com/casperjs/casperjs/issues/1581
- https://github.com/casperjs/casperjs/issues/1686
- https://github.com/casperjs/casperjs/issues/1673
- https://github.com/casperjs/casperjs/issues/1684
- https://github.com/casperjs/casperjs/issues/1747

There are many more in the this and any ot

[2017-02-05 21:39] corford opened #1762 "Error on casper-master (f48d0d6) with headless slimerjs: onClosing: [TypeError] win is null"
When running any script with casper-master (f48d0d6) and Slimerjs 0.10.2 in headless mode via xvfb (with Firefox 50.1.0) I get the following error printed immediately after script execution:

Any script triggers this. Example (save as '/tmp/test.js'):

`var casper = require('casper').create();
casper.start('http://slimerjs.org', function() {
    this.echo(this.getTitle());
});
casper.run();`

Exec

[2017-02-06 10:17] jefleponot commented on #1762
Hi @corford ,

I notice that regression. Thank for your contribution. I will commit a patch :-)

[2017-02-06 10:32] rubinchyk commented on #1180
Only one solution I found for this problem, install casperjs, phantomjs locally in project and run from node_modules.
`.\node_modules\casperjs\bin\casperjs main.js`

[2017-02-06 11:29] jefleponot commented on #1180
Hi @rubinchyk , @vidartf , @jdc91 and all windows users.

I'm trying to maintain casperJS but i don't use windows.
If someone use nodejs on windows, could you test that code which launch casperjs  ??

thanks in advance

[code]

If you have any ideas to improve this code, please no hesitation ...

[2017-02-06 11:32] jefleponot commented on #1180
Another issue, is anybody as yet compile js code for windows ? How does it work ?

[2017-02-06 11:38] mickaelandrieu commented on #1180
@jefleponot can you do a pull request? I will try on my computer (both Windows 10 & ubuntu)

[2017-02-06 11:45] jefleponot commented on #1180
I done it yet PR :  #1754

[2017-02-06 11:48] jefleponot commented on #1180
I compile with enclosejs but it is not free .. so the code is obscured ... and it is not authorized for my using.

[2017-02-06 13:41] jefleponot commented on #1762
@corford
please , git fetch / git pull  /
it is ok ?

[2017-02-06 14:06] corford commented on #1762
Fixed :) 🥇

[2017-02-06 14:07] #1762 closed

[2017-02-06 14:09] corford commented on #1762
Fixed :) 🥇

[2017-02-08 09:54] khalistan opened #1763 "Can't print backstopJS config values"
Hallo,
for some reason I have to print config values. Currently I want to print report ('report type if its browser or CI').
My backstopJS file looks like this:
[code]
Now inside of onReadyScript I have

[code]
its not working.

My reporting js file looks like this:
`
exports.reportType=process.env.REPORT_TYPE ? process.env.REPORT_TYPE : "browser";`

Its fine working project, now we need to print

[2017-02-08 11:13] jefleponot commented on #1763
Hi @khalistan
It seams to be a trouble of backstopJS

it is better to fill require method with absolute path.

Regards

[2017-02-08 13:28] javsalgar commented on #1455
I have suffered from this kind of issue as well. In very specific cases, `casper.page.clearMemoryCache()` didn't seem to be sufficient. I think that, in this kind of situations, it might be worth thinking in having separate CasperJS calls per test file (kind of annoying, though). I would also like to know which is the 'correct' way of dealing with session data and multiple tests in CasperJS.

[2017-02-09 09:20] LJJCherry commented on #1147
I met the same problem，I must execute login.js  first,how I can do that ？

[2017-02-10 22:04] rchatham commented on #1633
Are there any solutions for the `about:blank` issue? I am finding the same issue in code that I am running.

[2017-02-13 09:05] kanxue660 opened #1764 "the capture is not my wish"
Please provide any additional information below.
casper.start("https://appleid.apple.com/account");

casper.then(function _wait() {
this.wait(30*1000);
});

casper.then(function _jietu(){
this.capture('appleid.jpg');
});

The capture image is not as same as a normal browser show,why?

[2017-02-13 09:28] mickaelandrieu commented on #1764
When asking for help, please ask your question [on the mailing list ](http://groups.google.com/group/casperjs) first.

If you feel that you need to report an issue against CasperJS (and you are sure that it is not a problem specific to your installation), please include at least:
- the platform you are running on (like here: CentOS)
- the CasperJS version you are using
- the engine type and versio

[2017-02-13 09:28] #1764 closed

[2017-02-13 15:03] pjhl commented on #1594
I have the same problem. Trace:
[code]

In my case, problem in function:
[code]

I tried to reproduce this error in a test file, but I did not succeed. Script:
[code]

Casper script simple.js to reproduce error:
[code]

I execute it ```casperks.cmd --verbose --log-level=debug --engine=slimerjs simple.js```.

Environment: windows10, node v6.9.2, casperjs v1.1.3, slimerjs v0.10.2.

PS. I temporary f

[2017-02-13 21:22] tgoldenberg opened #1765 "Issues using with routing in next.js"
I'm using [Next.js](https://github.com/zeit/next.js), which has its own router. I was able to get a user signup flow test working with `react-router`, but am unable to get it working with the `next.js` example. Any ideas on why that might be so? Not sure if this belongs in the `next.js` issues as well, but having the ability to use `casperjs` would be a big benefit. Thanks!

[2017-02-15 15:53] james-w opened #1766 "Tester races on timeout (casper.start doesn't clear old intervals)"
Hi,

We've found a problem where the tester has a race condition, but I think the
problem is a little more general than the tester.

tl;dr the tester races as casper.start doesn't clear the active intervals, so
an wait from a previous test can fail a later one

You can reproduce this with these two test files:

`niceTest.js`:

    'use strict';

    casper.test.begin('Nice test', function(test) {

[2017-02-15 16:08] james-w commented on #1766
Btw, 10 runs of the test scripts are usually enough to trigger the problem at least once.

[2017-02-15 16:10] james-w commented on #1766
also @javsalgar is the one that found and isolated the problem.

[2017-02-17 09:40] xiangdong1987 opened #1767 "Help Help"
I use caserperjs crawling page ,but return content is garbled.

var casper = require('casper').create();
//casper.start('http://www.baidu.com');
casper.start('http://www.pcauto.com.cn/nation/949/9490115.html');
casper.then(function() {
    this.echo(this.getTitle());
});
casper.run();
return
È«ÐÂ±¦ÂíX3¹úÄÚµýÕÕ ÄÚÊÎÊ×ÆØ/½«¹ú²ú¡¾Í¼¡¿_ÐÂ³µµýÕÕ_Ì«Æ½ÑóÆû³µÍø
Is there someone help me ?  thanks

[2017-02-17 09:44] mickaelandrieu commented on #1767
Hello,

when asking for help, please ask your question [on the mailing list ](http://groups.google.com/group/casperjs) first.

If you feel that you need to report an issue against CasperJS (and you are sure that it is not a problem specific to your installation), please include at least:
- the platform you are running on (like here: CentOS)
- the CasperJS version you are using
- the engine type an

[2017-02-18 01:58] xiangdong1987 commented on #1767
Thank you very much for you @mickaelandrieu
I think I know why. My platform is Mac Ox, i'm using brew to install casperjs. I will try another way to install it. Thanks again.

[2017-02-18 01:58] #1767 closed

[2017-02-21 06:49] ISKU opened #1768 "Problem with message length when using casper.log()"
If you use casper.log() to output messages to the console,
and spawn.stdout.on() to read messages from the console.

**if the messages are very long, the message is divided. **
Is the problem that casper.log() splits the message?
If the casper.log() is correct to divide the message, Can I fix all the messages so I can read them?

[2017-02-21 07:58] jefleponot commented on #1768
Hi @ISKU

Could you please tell us which version of phantomJS, slimerJS and CasperJS you used ?

the "casper.log" method use the console.log function to write text. So please, tell us the length you try to write. Else you can use another way to write system.stdout.write("text");

It will be nice to propose a PR to make evolute casper.log :-)

[2017-02-22 08:02] jpca999 opened #1771 "on mac i get this error : CasperError: Can't find module fs"
![image](https://cloud.githubusercontent.com/assets/1026325/23202296/6089aa3e-f8ab-11e6-9ec5-48d1518bedf4.png)

![image](https://cloud.githubusercontent.com/assets/1026325/23202275/4c05c7a0-f8ab-11e6-809d-98ebdad6fb13.png)

var casper = require('casper').create();
casper.start('http://casperjs.org/');

casper.then(function() {
    this.echo('First Page: ' + this.getTitle());
});

casper.thenOpen('

[2017-02-22 08:53] jpca999 opened #1772 "unable to run basic casper code, please help"
i tried running the sample code provided in the casper homepage, but i got this error . heres my code.   https://github.com/jpca999/casper-project

![image](https://cloud.githubusercontent.com/assets/1026325/23203463/a2103fa4-f8b0-11e6-9396-3992b72624de.png)

{
  "name": "casper-project",
  "version": "1.0.0",
  "description": "",
  "main": "cap.js",
  "scripts": {
    "test": "echo \"Error: no te

[2017-02-22 09:13] jpca999 opened #1773 "I can't fun casperjs on my system, How do i fix this pleaes help: phantomjs://code/bootstrap.js:297 in patchedRequire"
casperjs test test.js
CasperError: Can't find module fs

  phantomjs://code/bootstrap.js:297 in patchedRequire

![image](https://cloud.githubusercontent.com/assets/1026325/23204593/35bc7322-f8b5-11e6-9432-28dd8972f0c7.png)

[2017-02-22 09:34] jefleponot commented on #1772
HI @jpca999
CasperJS is not a nodeJS module.
It works with PhantomJS or SlimerJS.

[2017-02-22 10:09] jpca999 commented on #1772
@jefleponot   i know i have all of them installed.  Please guide me what should run to make it run ?

![image](https://cloud.githubusercontent.com/assets/1026325/23206820/1a52824a-f8bd-11e6-8cd3-31bdebc81877.png)

[2017-02-22 10:15] #1773 closed

[2017-02-22 10:15] #1771 closed

[2017-02-22 14:53] jpca999 commented on #1771
@mickaelandrieu  how do i resolve this issue ?

[2017-02-22 15:37] mickaelandrieu commented on #1771
I don't know but create multiples issues won't help

[2017-02-22 16:28] xm0625 commented on #1717
Anyone is solving this bug? I  have been trapped for a few days......
(casperjs 1.1.4 + phantomjs 2.1.1 / slimerjs 0.10.0)

start and close popup for a few times, I saw the following error.
phantomjs engine report this:
Error: cannot call function of deleted QObject
slimerjs engine report this:
Error onClosing: []  (undefined ; line:192 col:0)
Error onClosing: [TypeError] casper.page is null (file

[2017-02-22 19:45] jefleponot commented on #1717
Hi @xm0625,

Could you please send your code ? We could try to reproduce bug ...
Thank you for advance

[2017-02-23 04:49] xm0625 commented on #1717
Thanks @jefleponot , here is the script.
[issus_post.7z.zip](https://github.com/casperjs/casperjs/files/795567/issus_post.7z.zip)

[2017-02-23 10:21] frankred commented on #1042
Having the same issue.  On linux arch 64-bit `npm@3.10.8` `node@v6.9.1`.

[2017-02-23 11:40] Resin01 opened #1774 "NaN test when not defining test count"
When I run a test without test count I get the following.
PASS My test (NaN test)

[2017-02-24 05:29] jpca999 commented on #1180
Ive same issue on mac

[2017-02-27 01:40] emosquito opened #1776 "Windows incorrectly splitting options with spaces when using testing framework."
It seems that when I try and run the casperjs test environment with an option that has spaced on windows, casperjs is taking the space as a new argument.

Here is what I've tried:

Input with single quotes
`casperjs test casper.js --option1='hello world'`
Output:
`ΓÜá┬á┬áCasperError: Invalid test path: world'`

Input with double quotes
`casperjs test casper.js --option1="hello world"`
Output:
`ΓÜá

[2017-02-28 02:08] finalcreator opened #1777 "casperjs not finished before node.js finished process, and have to press enter(windows7 64)"
C:\Users\mike>cd D:\automate_project

C:\Users\mike>d:

D:\automate_project>npm start

D:\automate_project>[info] [phantom] Starting...
[info] [phantom] Running suite: 2 steps
[debug] [phantom] opening url: http://www.baidu.com/, HTTP GET
[debug] [phantom] Navigation requested: url=http://www.baidu.com/, type=Other, willNavigate=true, isMainFrame=true
[debug] [phantom] url changed to "http://www.b

[2017-02-28 02:10] finalcreator commented on #1777
node.js : v6.10.0
    "casperjs": "^1.1.3",
    "phantomjs-prebuilt": "^2.1.14"

[2017-02-28 10:14] mickaelandrieu commented on #1777
When asking for help, please ask your question [on the mailing list ](http://groups.google.com/group/casperjs) first.

If you feel that you need to report an issue against CasperJS (and you are sure that it is not a problem specific to your installation), please include at least:
- the platform you are running on (like here: CentOS)
- the CasperJS version you are using
- the engine type and versio

[2017-02-28 10:14] #1777 closed

[2017-02-28 14:29] paulroho commented on #1613
@BIGjuevos There is no `done()` on `casper`.

[2017-03-01 04:50] emosquito commented on #1776
The solution on windows is to escape the double quotes!
`casperjs test casper.js --option1=\"hello world\"`

Output:
`casper.echo(casper.cli.get('option1')); // outputs hello world`

[2017-03-01 04:50] #1776 closed

[2017-03-01 10:05] mickaelandrieu commented on #1776
@emosquito would you mind to contribute to the docs?

[2017-03-01 11:31] jperals opened #1778 "Casper not executing external JavaScript"
I have a simple PhantomCSS test like this:

[code]

Where the `waitForSelector` function fails because the presence of the `#icons` element relies on some JavaScript code being executed, which isn't.

By using Casper's debug mode and injecting some console logs in the code, I can see that JavaScript written directly in my `index.html` is executed, but that coming from `<script src="...">.` tags is

[2017-03-01 21:58] jperals commented on #1778
I figured this out, there was actually a JavaScript error happening on runtime. I had assumed errors would be visible already as I am using debug mode (and even the --verbose option), but nope, I had to use the "page.error" error event callback for that. I have to say that I found this a bit confusing, especially the fact that in debug mode the browser console logs will appear on the terminal cons

[2017-03-01 21:58] #1778 closed

[2017-03-02 07:29] emosquito commented on #1776
I hope I did that correctly.

[2017-03-02 16:23] edmcman commented on #1633
Me too.  Wondering how this is still open...

[2017-03-02 17:52] NitroBAY commented on #1180
I replaced the PATH from `C:/users/Nitro Bay/roaming/npm` to `%USERPROFILE%\AppData\Roaming\npm`. It's working now. Should really be fixed.

[2017-03-02 17:58] NitroBAY commented on #1180
I second all those who're asking for the fix. In my opinion this a very major issue.

[2017-03-02 18:08] rippo commented on #1180
Another option to get this to work on windows it to do the following

1. Download phantomjs,exe from  http://phantomjs.org/download.html and place executable in `%APPDATA%\npm `
2. run  `notepad %APPDATA%\npm\casperjs.cmd`
3. replace contents all `casper.cmd` with

[code]

open command prompt and type in

`$ casperjs --version  `

[2017-03-02 18:10] NitroBAY commented on #1180
I feel uncomfortable using hacks that I'll forget when I'll to install tools in a new env.

[2017-03-02 18:12] rippo commented on #1180
Sure its a hack, other alternative is to use a docker container that has casperjs preconfigured or fix the issue and submit a PR.

[2017-03-02 18:15] NitroBAY commented on #1180
As for me I preferred install manually casperjs and put it in a folder.

[2017-03-03 07:07] iamquan commented on #1485
@jefleponot Thanks, but mine still not working.

[2017-03-03 10:11] kenguest commented on #1299
there does appear to be some activity - https://github.com/casperjs/casperjs/pulse/monthly with release 1.1.14 made just a few days ago (21st February 2017).

[2017-03-04 15:21] jefleponot commented on #1772
Ho @jpca999,

I works only on Linux so it is difficult for me to help you.
Is NodeJS worked on Mac ? so you could try ...

[code]

[2017-03-04 15:24] jefleponot commented on #1717
@xm0625 Thank you

[2017-03-04 15:29] xm0625 commented on #1717
@jefleponot
maybe I sloved the bug.
replace
https://github.com/casperjs/casperjs/blob/master/modules/casper.js#L2664
to
if (casper.page && (casper.page.id === closedPopup.id)) {

[2017-03-04 15:44] xm0625 commented on #1717
@jefleponot
but the popup is still hard to use.
I have to record the id of the popup at the "popup.created" event  listener(function),
and then, intercept each popup of casper.popups to get the index of target popup in casper.popups array.
just like....
casper.withPopup(findPopupById(popupPageId), function () {...})
It's not vary elegant.

[2017-03-04 15:57] xm0625 commented on #1717
I noticed that when I open&close&open the popup, there are one more items in the  casper.popups array (the <deleted> object? closed WebPage(QtObject?) to be destroyed or recycled?).
actually, if I ensure only one popup opened at one time,
"casper.withPopup(0, function () {...})" should work well.

[2017-03-04 17:02] jefleponot commented on #1485
@iamquan , could you try with the latest version of casperJS ?

[2017-03-05 10:46] iamquan commented on #1485
@jefleponot I did try with the latest version of both Casper and Phantom

[2017-03-05 13:18] jefleponot commented on #1485
@iamquan , hooops
could you tell me which Operating System do you use ?

[2017-03-06 21:24] jefleponot commented on #1717
你好 @xm0625 , i found the problem . Could you please update casperJS and try again ..
thank you for advance.

[2017-03-07 09:52] iamquan commented on #1485
@jefleponot I'm using Ubuntu 16.04.

[2017-03-07 15:25] jefleponot commented on #1485
I just identify the problem : ssl error

@iamquan
you have to use slimerJS
or phantomJS with this option :  --ssl-protocol=any

[2017-03-08 10:24] kanekotic opened #1781 "this.exists locates selector (edit: sometimes) but test.assertExists doesn't"
I am trying to write some tests on my page an i am having the curious effect on using selectors
The documentation shows the use of selectors like this:
[code]
this will fail with
[code]

while the same selector with:
[code]
will actually work and pass the test
[code]

[2017-03-08 10:32] kanekotic commented on #1781
sorry not always, sometimes seems a raise condition because of angular probably?

[2017-03-08 10:41] kanekotic commented on #1781
is a timming issue, solved it with a wait...dont really like the option, so if anyone has a better idea i would really apreciate
[code]

[2017-03-08 17:11] Thebigbignooby commented on #1532
a good guide on getting a working environnement set up would be really helpful.

I have tried many times in the past two years to use casperjs but everytime I give up because playing around with paths and understanding which executable to run is frustrating...

[2017-03-08 21:12] mlalpho commented on #1633
Can't seem to fix this from the casperjs side. PhantomJS outputs this:
[code]
whenever phatom.exit() is called. (whether you call casper.exit() or phantom.exit() directly)

Is this preventing scripts from working? I haven't noticed any errors other than the extraneous debug output. @rchatham @edmcman

The original problem the OP had was due to their incorrect running of the casper script. (`casper

[2017-03-08 21:31] mlalpho commented on #1485
@jefleponot in your script above, 'debug' log level is not on, so debug output for the `about:blank` navigation is not shown. passing `--ssl-protocol=any` doesn't get rid of that debug message either.

the debug output is generated by phantomjs when `phantom.exit()` is called (`casper.run()` calls `casper.exit()` which calls `phantom.exit()`). There's nothing we can do about it from here. Someone

[2017-03-09 08:35] jefleponot commented on #1485
HI @mlalpho
I didn't understood  because it work for me ... Thanks for all

[2017-03-09 08:42] iamquan commented on #1485
@jefleponot Can you try again this code?

I created getTitle.js:
[code]
Then I ran it, it worked fine, of course.

[code]

[2017-03-09 08:46] iamquan commented on #1485
I try to move my links to ```links.txt```:

[code]
And I used readFile function in my ```getTitle.js``` to read links from ```links.txt```:
[code]
Then I ran, it didn't work for me.
[code]

[2017-03-09 08:49] jefleponot commented on #1485
@iamquan I will test it right now :smile:

[2017-03-09 09:00] jefleponot commented on #1485
@iamquan Thank for your forbearance with me.

I have the same error

[code]

[2017-03-09 09:03] jefleponot commented on #1485
you forget just 2 things :

http://casperjs.org/
http://phantomjs.org  <== no quot

var fs = require('fs'); <= required

[2017-03-09 09:07] jefleponot commented on #1485
Here is the solution :

[code]

[2017-03-09 09:08] jefleponot commented on #1485
explanations :

the **casper.each** method is not in the loop event so it is execute before the run method .... so nothing exist in the _links_ variabe

[2017-03-09 09:10] jefleponot commented on #1485
another way :

[code]

[2017-03-09 09:13] iamquan commented on #1485
Thanks so much @jefleponot. Problem solved :).

[code]

[2017-03-09 09:16] iamquan commented on #1485
@jefleponot I agree with your explanations :

Thanks again <3

[2017-03-09 09:28] mlalpho commented on #1485
Glad you sorted it out. Makes sense now what was going on with more complete sample. Mixing procedural and async code is tricky. :+1:

[2017-03-09 15:17] edmcman commented on #1633
@mlalpho I thought that the issue was preventing scripts from working.  I'll try to verify.

[2017-03-09 17:47] kensoh commented on #1390
Thanks @tim-montague for posting the solution here. I've implemented this custom function for an issue for my web automation project base on CasperJS/PhantomJS - https://github.com/tebelorg/TA.Gui/issues/11

If someone can point me in the right direction and if this is something technically possible for me to do, I can try taking a look at it. I'm a test automation engineer, with a little JS exper

[2017-03-10 19:56] SujathaKanathala opened #1783 "Casperjs is displaying blank webpage"
Casperjs is displaying blank webpage and getting HTML source code using getHTML.
casperjs version is 1.1.4
phantomjs version is 2.1.1

[2017-03-11 18:15] jefleponot commented on #1783
@SujathaKanathala
Thank for contribution it is strange that tests with HTML passed ....

I will have a look

[2017-03-12 14:01] Leonard-Peng opened #1784 "waitForSelector callback function not get element"
[code]
Above code log out `[debug] [phantom] null`. This behavior is strange (Selector are same, but result is null), Maybe I misunderstand `waitForSelector` ?

I also have tried `waitFor`, but the result was same.
[code]

[2017-03-12 15:15] jefleponot commented on #1783
It is working for me. Could you send your code , please ?

[2017-03-12 15:20] jefleponot commented on #1784
@Leonard-Peng

[code]

[2017-03-12 15:22] jefleponot commented on #1781
casper.waitForSelector ?

[2017-03-12 15:22] #1781 closed

[2017-03-12 15:23] jefleponot commented on #1774
thank for contribution @Resin01

[2017-03-12 15:23] #1774 closed

[2017-03-12 15:24] #1745 closed

[2017-03-12 15:26] jefleponot commented on #1760
it seams to be a problem of phantomJS , which is your version ? Have you try with phantomJS 2.5 beta ?

[2017-03-12 15:26] #1760 closed

[2017-03-12 15:34] jefleponot commented on #1663
@RichardJECooke @BIGjuevos
Next phantomJS version (2.5) allows to use Promises as SLimerJS does.
It could be a real improvement for CasperJS to integrate "Promises". For BC we could inject
extern library like https://github.com/stefanpenner/es6-promise.

Do you agree to add this feature in casperJS 2.0 ?

[2017-03-12 15:35] #1742 closed

[2017-03-12 16:57] jefleponot commented on #1741
@bughit
Please, propose a PR...

[2017-03-12 16:59] #1731 closed

[2017-03-12 17:10] jefleponot commented on #1702
solved with slimerJS 0.10.0

[2017-03-12 17:10] #1702 closed

[2017-03-12 17:14] jefleponot commented on #1709
system.stdout.write('Hello, system.stdout.write!');
system.stdout.writeLine('Hello, system.stdout.write!');

[2017-03-12 17:15] #1709 closed

[2017-03-12 17:16] #1751 closed

[2017-03-13 01:06] Leonard-Peng commented on #1784
@jefleponot Thanks for the reply.
However, below code output is `selector should exist! null`. I think `dl` should not be null when it exists.

[code]

[2017-03-13 07:45] jefleponot commented on #1784
@Leonard-Peng

You have to understand that there are 2 instances of javascript launched in the browser.
- The first instance controls your code
- The second instance load the web page (you can access to its DOM only with the evaluate method)

[code]

[2017-03-13 07:46] #1784 closed

[2017-03-15 12:10] tarjei opened #1787 "How do I pass custom arguments into a testscript"
Hi, is there a way for me to pass custom arguments to a casperjs test?

I want to pass in the base url for the page I'm testing.

I tried using envitonment variables but process.env was not available. What is the suggested way?

[2017-03-16 07:50] jefleponot commented on #1787
**/home/jef/dev/casperjs$** toto="tata" bin/casperjs test script.js --param1="value"

var cli = require('cli')

[2017-03-16 07:50] #1787 closed

[2017-03-16 07:59] tarjei commented on #1787
AH! Thanks!

[2017-03-19 13:47] jpca999 opened #1791 "Domains, protocols and ports must match."
nsafe JavaScript attempt to access frame with URL about:blank from frame with URL file:///usr/local/lib/node_modules/casperjs/bin/bootstrap.js. Domains, protocols and ports must match.

when it calls this function it spits above error. :

casper.then(function(){
    this.echo('underscore =');
    this.echo(_);
}
fyi: lodash is already loaded,

clientScripts:["plugins/jquery.js","plugins/lodash.js"

[2017-03-19 17:48] jpca999 opened #1792 "Unsafe JavaScript attempt to access frame with URL about:blank from frame with URL file:///usr/local/lib/node_modules/casperjs/bin/bootstrap.js. Domains, protocols and ports must match."
whenver i try to load undersocre it spits this error.

Unsafe JavaScript attempt to access frame with URL about:blank from frame with URL file:///usr/local/lib/node_modules/casperjs/bin/bootstrap.js. Domains, protocols and ports must match.

casper.then(function(){

    var objects = [{ 'a': 1 }, { 'a': 2 }];
    var grab = _.map(objects, 'a');

[2017-03-20 09:36] jefleponot commented on #1792
@jpca999

Could you precise CasperJs version / PhantomJS or SLimerJS + version ?

Any Example ?

[2017-03-21 20:19] jpca999 commented on #1792
![2__jay_jai____dropbox_life_changing_mentoring_program_code_excel-to-json-conversion__zsh_](https://cloud.githubusercontent.com/assets/1026325/24168862/176d4d80-0e52-11e7-9994-b2dff6e9f351.jpg)

[2017-03-22 06:08] jefleponot commented on #1792
@jpca999
I have no idea !! How could we reproduce the bug ?

[2017-03-27 19:34] Bakharevich opened #1797 "Handle just opened window by clicking at link with target="_blank""
Hello.

I'm using CasperJS (1.1.4) with SlimerJS (0.10.3) at Mac OS X.

If I open new window by clicking at link with target="_blank" (function click()), how can I get the object of that new page? For example, to evaluate opened page to scroll at the bottom of it or get text from it?

I don't know the URL of that link (it will new every time).

Thank you in advance.

[2017-03-28 07:54] jefleponot commented on #1797
[code]

[2017-03-28 12:09] jfkhoury opened #1798 "Is there a way to run CasperJS using an npm script?"
I know CapserJS is not a NodeJS library, but is there a way to call the `node_modules/.bin/casperjs` script directly from npm by adding a script:

[code]

and then `npm run test` from the terminal?

[2017-03-29 11:45] garex commented on #1031
Without this option I forced to rude overwrite Casper.log (

[2017-03-29 15:41] celine-m-s commented on #777
+1
I'm having big troubles with the encoding. Are you planning to merge the PR? Thanks!!

[2017-03-30 01:32] danielyli opened #1799 "Cannot Install: SHA256 mismatch when installing with Homebrew"
The checksum for CasperJS 1.1.4 is incorrect in Homebrew, preventing installation:

[code]

[2017-03-30 01:37] danielyli commented on #1799
It looks like @ilovezfs signed off on the relevant commit:

https://github.com/Homebrew/homebrew-core/commit/6f18d93cf28b831ec0bad9e04042b460859f928f

[2017-03-30 06:50] jefleponot commented on #777
Hi @celine-m-s
Which PR are you talking about ?

[2017-03-30 06:53] jefleponot commented on #1799
Ho @danielyli

I don't know how to change it. I have never used the "brew" command.

[2017-03-30 07:06] ilovezfs commented on #1799
brew itself isn't relevant. Why did the checksum change?

[2017-03-30 07:33] jefleponot commented on #1799
I have recreated the package 1.1.4 ... so it could be the cause

[2017-03-30 08:16] jefleponot commented on #1799
Yes

[2017-03-30 08:38] ilovezfs commented on #1799
@jefleponot In future: please don't retag Git-based projects for a few reasons:

- when you retag you break the from-source build for anyone using Homebrew (and also possibly other projects)
- when you retag we don't know until a PR is filed whether it was intentional or you've been hacked
- we (and you) now can't easily differentiate between users using the old tag or the new one as they have the

[2017-03-30 09:12] vclenet16 opened #1800 "New CasperJS 1.1.4 Windows installation failed"
Hi,

I'm developping a CasperJS's test suite on Windows 7, and 1.1.0 version works fine but I had a popup stuff issue so I've checked if this issue has been fixed.

Apparently it is in the 1.1.4 version so I decided to use it, but when I download it and replace 1.1.0 by the newest, casperjs doesn't run and return me the error below :

"Unhandled Exception: System.MissingMethodException: Method not

[2017-03-30 10:03] jefleponot commented on #1800
Hi @vclenet16

CasperJS.exe needs a recent version of ".Net Framework". It works for me with Microsoft .NET Framework 4.6

Which version do you used ?

[2017-03-30 10:04] jefleponot commented on #1799
Thanks for all your explanation.
I will create a new tag soon

[2017-03-30 11:29] vclenet16 commented on #1800
I'm on .NET Framework 4.5.2, I'll try to update and see if it works..

Thanks for your answer

[2017-03-30 11:50] 1d10t opened #1801 "Error: cannot access member `parent' of deleted QObject"
after calling `popup.close();`
`casper.popups.clean();` triggering error:
`Error: cannot access member 'parent' of deleted QObject
  /var/www/html/mars/docs/parsers/data/23/phantomjs:/platform/pagestack.js:64
  /var/www/html/mars/docs/parsers/data/23:0 in forEach
  /var/www/html/mars/docs/parsers/data/23/phantomjs:/platform/pagestack.js:62 in clean
`

[2017-03-30 12:01] jefleponot commented on #1801
@1d10t

Please, could you tell us which version of phantomJs and CasperJs do you used ?

[2017-03-30 12:04] 1d10t commented on #1801
$ casperjs --version
1.1.3
$ phantomjs --version
2.1.1

[2017-03-30 13:06] jefleponot commented on #1801
@1d10t
We improve CasperJS popup management with the 1.1.4 version. So it could be better to test it to see if the trouble has been yet solved .

[2017-03-30 13:08] jefleponot commented on #1801
We have also one next PR that improves closing popup  #1794

[2017-03-30 13:45] jefleponot commented on #1800
@vclenet16
it is a bug of mono C#

Do you success ?

[2017-03-30 14:03] #1801 closed

[2017-03-30 14:12] vclenet16 commented on #1800
That works PERFECTLY !! Thanks a lot

[2017-03-30 14:35] jefleponot commented on #1800
you are welcome

[2017-03-30 14:55] 1d10t commented on #1801
thanx, in 1.1.4 all is ok

[2017-03-30 16:22] celine-m-s commented on #777
Hi!
Sorry, I was mistaken because I read the label "PR" so I thought there was a PR linked with this issue. I'm not a crack in Javascript so unfortunately I will not be able to do a PR to fix this problem. Here is what I did to (temporarily) have the values I wanted:
[code]
Not pretty but it does the job.
Anyway, thank you so much for your great work!

[2017-04-01 01:04] danielyli commented on #1799
FYI, the checksum is still incorrect as of 3/31 6 PM Pacific.

I'm curious—does this reveal a larger security issue, namely that someone could change the tarball without authorization?  Or does only @ilovezfs have permissions to update the checksum as well?

[2017-04-01 02:40] ilovezfs commented on #1799
The only people who can update the checksums are https://github.com/Homebrew/brew#who-are-you and we require 2FA for the organization.

If you crack https and SHA-256, we have a problem.

[2017-04-01 04:37] danielyli commented on #1799
Excellent, thank you.

[2017-04-01 14:48] mirzazeyrek opened #1804 "Npm version is old"
Today I was trying to install the latest release via npm but package is updated 8 months ago. Is there any particular reason for not to updating to latest version?

[2017-04-01 15:21] hlr1983 opened #1805 "Error when waitFor timeout equals or less than options.retryTimeout?"
If I do

[code]
It shows _waitFor test failed_. So I did the following loop:

[code]

When `customTimeout` is _20_ it enters in an infinite loop.

I've made the commit in PR #1806, changing the `waitFor()` function.

What do you think? Should change `waitFor()` or it's the expected behavior of `waitFor()` ?

[2017-04-02 09:21] jefleponot commented on #1804
Hi @mirzazeyrek
the project has a new core team so we don't know all commands to do.

Could you please tell us the process to update npm from github ?

[2017-04-02 16:14] mirzazeyrek commented on #1804
I don't know actually :) Do you have credentials for npm package ?

I have found  a workaround by using casperjs/casperjs while installing:

![screenshot 2017-04-02 19 10 18](https://cloud.githubusercontent.com/assets/6233650/24588818/9ad3649a-17d8-11e7-9666-decf03de4c12.png)

[2017-04-03 00:32] kozhin opened #1807 "scrollToBottom for a scrollable DIV"
Hi there!

Is there a way to scroll not the whole document but a certain div with CasperJS?
Docs describe scrollToBottom function which applies only to a whole document.

Currently I did "scrolling" by pressing PageDown button. I guess it's not the best solution probably.

[2017-04-03 00:46] kozhin commented on #1772
Hi @jpca999
If you get 'Cant find module fs' on your mac while running casperjs script, remove fs module from your project with
`npm uninstall fs`
This helped me. I found that at stackoverflow.com.

[2017-04-03 00:54] kozhin commented on #1798
I installed CasperJS with npm and I can run scripts with:
`npm run task`

My package.json is as follows:
[code]

[2017-04-03 05:51] danielyli commented on #1799
@jefleponot, any updates on the new tag?

[2017-04-03 09:55] jefleponot commented on #1807
Hi @kozhin

just do
[code]

If it works, please close this issue...

[2017-04-03 11:53] #1807 closed

[2017-04-03 15:08] lawulu commented on #1724
The issue is still here.

➜  casperjs which casperjs
/usr/local/bin/casperjs
➜  casperjs ll /usr/local/bin/ | grep casperjs
lrwxr-xr-x  1 admin  admin        37B  4  3 21:41 casperjs -> ../Cellar/casperjs/1.1.3/bin/casperjs
➜  casperjs casperjs --version
1.1.2
➜ brew upgrade casperjs
Error: casperjs 1.1.3 already installed

[2017-04-03 18:39] jfkhoury commented on #1798
Are you 100% CasperJS is not installed globally?

I was able to fix my problem my writing a simple Node script that spawns CasperJs as a child process. Let me know if you need more details.

Thanks.

[2017-04-04 04:30] danielyli commented on #1799
@ilovezfs Is it possible to update the Homebrew formula for 1.1.4 as a one-time thing?

[2017-04-04 06:45] kozhin commented on #1798
Yes, I'm sure.

[code]

[2017-04-04 14:21] #1805 closed

[2017-04-04 16:11] HenryBukunev opened #1810 "CasperJS clickLabel on span is not working"
CasperJS **clickLabel** on this span **clickLabel('Stars (5...1)','span')** is not working when you try to sort hotel lists by stars.

It throws me an error:

**My final code:**

[code]
**I've also tried this construction, but it did not help :**
[code]

[2017-04-05 06:57] jefleponot commented on #1810
Hi @HenryBukunev

the casperJS click method works only on visible element.
In your case, you must click on the menu identify by class '.sortby-star'

[2017-04-05 07:07] HenryBukunev commented on #1810
Thank you very much @jefleponot it worked!

[2017-04-05 07:07] #1810 closed

[2017-04-05 19:44] Delallen opened #1811 "Is there a way to procedurally call a script from within another script?"
I'm almost positive this question has been asked somewhere before, but I can't seem to locate anything referencing what I'm attempting to do.

For instance I want to kick off script 2 after script 1 has run and tested some site data. If the script 1 completes and passes, it will set an object with reference data to be used in script 2.

Is there a method and/or way to allow this without having to

[2017-04-06 23:01] hlr1983 commented on #1811
Have you looked at:

1) "Using the command line"  - http://docs.casperjs.org/en/latest/cli.html

2) "waitForExec() http://docs.casperjs.org/en/latest/modules/casper.html#waitforexec
or
and Child Process Module http://phantomjs.org/api/child_process/.

?

[2017-04-07 15:59] Delallen commented on #1811
@hlr1983 Not sure how I missed this and I'm partially using the cli options, and the child process module will help also. Thanks.

[2017-04-07 15:59] #1811 closed

[2017-04-09 21:14] sradu opened #1813 "Any plans on supporting headless chromium?"
It's out and stable. Just wondering.

https://github.com/cyrus-and/chrome-remote-interface

[2017-04-10 17:10] jiyoonkoo commented on #1180
hello @NitroBAY ,
how did you get it to work? when i used only phantomjs, i only had to place the executable at same directory level as the javascript file i was trying to run. I am confused how to move forward with casperJS... Any feedback you have (and others) would be appreciated. Thanks!

[2017-04-10 20:21] PSJMcNeill opened #1814 "Cannot Dispatch Mousedown event on nonexistent selector: despite exisiting"
I have used getElementsInfo to retrieve a class.

Checking this it correctly returns all the HTML I am expecting.

I then try to click on the html and I get the error in the title.

Any ideas what would be causing this or a solution?

`casper.then(function(){
	var matches = this.getElementsInfo(x(".//*[@class='matchStats']"));
	this.click(matches[0].html);
})`

[2017-04-11 06:34] jefleponot commented on #1814
Hi @PSJMcNeill

"Click" event are forbidden on hidden elements.

[2017-04-11 06:34] #1814 closed

[2017-04-11 06:37] jefleponot commented on #1813
@sradu It could be nice idea.
Need to create a chromeJS layer that contains PhantomJS equivalence calls (as slimerJS does)
Do you think it is possible ?

[2017-04-11 06:53] sradu commented on #1813
@jefleponot I'd have to do more digging. Might look into it over the next couple of months.

[2017-04-11 08:12] #1813 closed

[2017-04-11 08:36] PSJMcNeill commented on #1814
Bit confused by that as it isn't hidden, I've used a different method to click on the same HTML and it is working. I used nth:child selector to fix it in case anyone else has this issue.

`this.click(.matchstats:nth-child(2))`

[2017-04-11 08:49] jefleponot commented on #1814
Could you tell me which version of phantomJS / SlimerJS and CasperJS do you used ?

try ouse.click(".matchstats:nth-child(2)");

[2017-04-11 09:45] PSJMcNeill commented on #1814
1.9 PhantomJS and 1.1.0 CasperJS.

Can confirm though using the nth-child approach instead works

[2017-04-11 11:34] jefleponot commented on #1814
PhantomJS v 1.9 doesn't accept css selector 3

[2017-04-12 12:28] PSJMcNeill commented on #1814
Ah interesting. Do later version support it or just a case of it doesn't accept them at all?

[2017-04-12 13:36] jefleponot commented on #1814
use PhantomJS >= 2.1.1 AND CasperJS >= 1.3

[2017-04-12 20:42] PSJMcNeill commented on #1814
Unfortunately that made no difference. There is more divs inside the div I am selecting maybe that causes problems.

I can go with the Nth Selector instead.

[2017-04-13 17:24] NK-NeelK opened #1815 "The is no inbuild function or API for a dropdown menu"
I am Neel Khalade, I really love the idea of web scrapping and casperjs and phantomjs does it really well and is the best web scrapping application ever available.
I am currently creating something really big application for automation in social media handling,
but there is no inbuild API for working with the dropdown menu or working with any.
Instead I have to this.evaluate() which works in the D

[2017-04-14 10:40] jefleponot commented on #1815
Hi @NK-NeelK

CasperJS is just a framework that allows to program schedule interactive actions in order to test web applications. You can have an immediate render using CasperJS with SlimerJS.

[2017-04-14 10:40] #1815 closed

[2017-04-15 00:57] hlr1983 commented on #1813
https://github.com/ariya/phantomjs/issues/14954 might be interesting for this issue...

[2017-04-16 09:41] stanfaire opened #1817 "scrollToBottom inside a div with infinite scroll"
Hello,

I'm trying to scroll to the bottom of a div which is has infinite scroll in it. `ScrollToBottom` only works for the whole window, and can't work inside a div, right ?

So I tried using `objDiv.scrollTop = objDiv.scrollHeight;`, which works inside the Chrome console when I repeat it several times.

However my casperJs script doesn't seem to understand it has to do it multiple times. Here is

[2017-04-17 22:09] amerikan commented on #1804
@jefleponot I *think* the person who registered it on npmjs has to do it, which seems to be @BIGjuevos https://www.npmjs.com/package/casperjs

[2017-04-17 23:02] LiGhTenn commented on #1800
Please add this to the pre-requirement, this frameworks 4.6

I have the same issue on test environment works well.

but on the production server it is running on the machine exchange server 2010 which does not allow you to install frameworks 4.6 the highest I can go is frameworks 4.5

Is there a version of casperJS that support frameworks 4.5 ?

[2017-04-18 00:56] danielyli commented on #1799
@ilovezfs Bump—is it possible to update?  This formula has been unusable for a few weeks.

[2017-04-21 10:48] chipironcin commented on #1047
+1

[2017-04-22 13:48] jefleponot commented on #1800
@LiGhTenn
the launcher "casper.exe" is just a c# code compiled with mono.
it is not important. Only CasperJS modules are important. So if you want you can use older compile exe of version 1.1.0 with modules of the 1.1.4 (that is really better than 1.1.0)

Regards

[2017-04-22 13:51] jefleponot commented on #1799
i will create a 1.1.4.1 THAT WILL SOLVE THE BUG

[2017-04-24 11:20] buwaneka1 opened #1819 "CasperJs doesn't load html elements of Angular2 web application"
When a screenshot was taken of the application, it shows the app has not loaded, it works fine with usual browsers like Chrome and Firefox. Is this an issue with Phantomjs?

[2017-04-24 12:03] jefleponot commented on #1819
@buwaneka1
Please Tell us your CasperJS version and PhantomJS version (and/or SlimerJS version) ?

[2017-04-24 13:32] jefleponot commented on #1800
@LiGhTenn
I will recompile casperjs.exe with an older version of mono.
Could you please tell me which version of .NET is installed on your system ?

[2017-04-24 13:46] buwaneka1 commented on #1819
casperjs - 1.1.4 and phantomJs - 2.1.1 , I think the issue is with Angular2's bootstrap not loading the components in Phantomjs. I'm not sure though.

[2017-04-24 20:49] LiGhTenn commented on #1800
Wow, thanks for all the support I was pretty shocked at first receiving a reply.
it is true CasperJS is a friendly ghost,

the highest version of frameworks I manage to install is 4.0.

in an unrelated matter, is there away to place to post Demo code for casperJS, as I built a ebay "download order history to CSV" and while I was researching for a solution myself I notice a lot of people online has

[2017-04-25 01:44] danielyli commented on #1799
Thank you, @jefleponot, for promising to create a 1.1.4.1 tag to solve the issue.

If I understood @ilovezfs correctly, I believe the bug is simply that the original 1.1.4 tag was moved, and the solution is just to create a new 1.1.4.1 tag that points to the current 1.1.4 commit.  I don't see how the solution could take more than a minute to implement.  Why is it taking so long?

[2017-04-25 03:47] buwaneka1 commented on #1819
By adding polyfills this issue can be solved. It seems to be an issue with Angular2 not supporting Phantomjs browser.

[2017-04-25 03:47] #1819 closed

[2017-04-25 07:00] jefleponot commented on #1799
Hi @danielyli,

We have trouble with the casperJS.exe #1800. So We plan to commit a fix and create the new version 1.1.4.1 at the same time.

Regards

[2017-04-25 09:34] jefleponot commented on #1817
Hi @stanfaire

just do

casper.evaluate(function(selector){
   var elm = __utils__.findOne(selector);
   if (!!elm) {
        elm.scrollTo(0,elm.scrollHeight);
   }
}, 'yourSelector');

If it works, please close this issue...

[2017-04-25 09:36] #1797 closed

[2017-04-25 10:15] stanfaire commented on #1817
Hey,

Thanks but I don't get how it would work, because there isn't any new selector that appears at the end of the infinite scroll.

[2017-04-25 11:11] jefleponot commented on #1817
Hey,

    Thanks but I don't get how it would work, because there isn't any new selector that appears at the end of the infinite scroll.

selector is for you the <div id="result_carto_listing"></div>

[2017-04-25 11:13] jefleponot commented on #1800
@LiGhTenn
Could you please test the new version 1.1.4-1 ?

[2017-04-25 11:13] jefleponot commented on #1799
@danielyli

Could you please now re-test with version 1.1.4-1 ?

Regards

[2017-04-25 11:30] LiGhTenn commented on #1800
Thanks !
Tested works well...

[2017-04-25 11:33] LiGhTenn commented on #1800
@jefleponot
Sorry to message this here, but not sure how to do private message here.
do you do also Job, I have some online banking system I need to get some data form, can I pay you to have a look and see if you can come up with an issue my email is yairtee@gmail.com

[2017-04-25 14:33] ilovezfs commented on #1799
I've shipped 1.1.4-1 in Homebrew: https://github.com/Homebrew/homebrew-core/pull/12865

[2017-04-25 14:58] stanfaire commented on #1817
Thanks but it doesn't scroll at the end of the div unfortunately. But I think it's more a JavaScript question than a CasperJs one.

[2017-04-25 18:27] tchia04 commented on #1047
+1

[2017-04-25 21:15] danielyli commented on #1799
Confirmed.  Installs with Homebrew.

Thanks for all your work, @jefleponot and @ilovezfs!

[2017-04-25 21:15] #1799 closed

[2017-04-26 07:24] jefleponot commented on #1047
@chipironcin  @tchia04

Could you propose a PR ?
I have no idea about TAP reporter ...

[2017-04-26 08:45] chipironcin commented on #1047
So, afaik, it is basically creating a file similar to the xml output CasperJS already creates (xunit) but with a TAP format so other tools can read that file directly.

I may be able to work on a PR on my free time, but that would be in a couple of weeks at least

[2017-04-28 07:08] whooyun commented on #1552
@O0mix0O

[2017-04-28 07:42] whooyun opened #1821 "this.click not work href is function"
Hi all.

Trying to click the below element via casperjs, but it's not working for me.

casperjs-1.1.4,phantomjs-2.1.1

blow is my html code.
![20170428155923](https://cloud.githubusercontent.com/assets/9583594/25519764/baa54754-2c2b-11e7-831d-7fdc6be0d4a9.png)

js code
<pre><code>
this.wait(3000, function () { // it is loaded ,im sure
		var mySelector = xp('//*[@id="nocaptcha"]/div[1]/span[1]/a[1]

[2017-04-28 08:15] jefleponot commented on #1821
Hi @whooyun

Just try this

[code]

[2017-05-01 22:20] KlausNie opened #1822 "is the 'popup.closed' event never thrown?"
I'm running an application where i open a lot of popups. While the events 'popup.created' and 'popup.loaded' are thrown whenever i open a popup, the event 'popup.closed' is never thrown. Now if I understood it correctly, the popups never have to be closed, since they are regularly cleaned up [#1345](https://github.com/casperjs/casperjs/pull/1490). So should the closed event not be triggered when c

[2017-05-02 01:26] wuchuguang opened #1823 "cant worker in phantomjs2.1.1"
➜  casperjs-test phantomjs --version
2.1.1
➜  casperjs-test casperjs --verion
CasperJS version 1.1.3 at /opt/soft/node-v6.8.1-linux-x64/lib/node_modules/casperjs, using phantomjs version 2.1.1

[code]

[2017-05-02 07:04] jefleponot commented on #1823
Hi @wuchuguang

???

This command doesn't exit : "casperjs-test"

[2017-05-02 07:08] jefleponot commented on #1822
Hi @KlausNie

You can use casper.page.close() to force closing event.

[2017-05-02 09:21] whooyun commented on #1821
@jefleponot
thanks a lot.
the click method is executed.
But my html page changes nothing,I think my function  **noCaptcha.reset(1)** doesn't execute.
Here is my debug info
![20170502171822](https://cloud.githubusercontent.com/assets/9583594/25611921/5fecae64-2f5b-11e7-9146-54274d31bf1e.png)

is there any way I can use to let my **noCaptcha.reset(1)** execute?
Thank you again!!!

[2017-05-02 09:48] jefleponot commented on #1821
@whooyun

Your link must be visible : click doesn't work on no-visible element

You can also execute javascript code as :
[code]

[2017-05-02 18:17] WiwiC opened #1824 "Click doesn't work for Twitter's follower follow / unfollow button in CasperJS environment"
Hi everyone,

Well first, please let me tell you that I'm started in code, I've been coding for 1 month so don't judge me if my questions seems stupid.

I actually want to follow Twitter accounts in a CasperJS environment. I have a list of twitter's account url and I want to automate the following. Indeed I have an excel with a list of user's names and user's url accounts I would like to follow bu

[2017-05-02 21:35] KlausNie commented on #1822
Thank you very much! That solved the issue and made it easy to close popups!

[2017-05-03 06:37] jefleponot commented on #1822
Hi @KlausNie

your are welcome

[2017-05-03 06:37] #1822 closed

[2017-05-03 07:27] jefleponot commented on #1824
Hi @WiwiC

Your approach is not correct

[code]

[2017-05-03 08:08] whooyun commented on #1821
@jefleponot  Thanks so much.
My link is visible.
Here is my js file
[https://github.com/whooyun/zhuanzhuan/blob/master/why.js](url)

[2017-05-03 08:11] whooyun commented on #1821
@jefleponot Thanks so much.
My link is visible.
Here is my js file
https://github.com/whooyun/zhuanzhuan.git

[2017-05-03 09:50] WiwiC commented on #1824
Hi @jefleponot

Thank you for your answer. Your code is definitely nicer than mine thanks !
However It is still not following the account. The problem is that it seems that there is no way to click on the Follow button in the Casperjs environment.  The code runs well but when I go on my twitter account, the user hasn't been followed. Even the function casper.waitForSelector is not working.

Do you

[2017-05-03 10:19] jefleponot commented on #1824
@WiwiC

Please send me a screen-shot where you want to click . I can't connect to twitter for my network ...

[2017-05-03 10:42] jefleponot commented on #1824
Salut @WiwiC

it is the capture you have before the "waitForSelector" ?

   casper.capture('page.png');

[2017-05-03 10:46] WiwiC commented on #1824
@jefleponot

Non, this is the capture of the button I want to click. The capture before the "waitForSelector" is this one:

![step_4_twitter_connecte](https://cloud.githubusercontent.com/assets/22153690/25657469/4ae7e5c6-2ffe-11e7-828e-4c7a7450785d.png)

As you can see I'm connected to my account, but the click is not working. The capture after le "waitForSelector" is the same. When i go to check

[2017-05-03 10:51] jefleponot commented on #1824
Hi @WiwiC

Everything seams ok
You can try a Xpath selector

[code]

[2017-05-03 10:52] jefleponot commented on #1824
could you give me your phantomjs / slimerJS / casperJS version ?

[2017-05-03 11:01] WiwiC commented on #1824
@jefleponot

Ok I'll try.

Are you French ?

Phantomjs : 2.1.1
Casperjs : 1.1.3
I don't have slimerJS...

Thank you.

[2017-05-03 12:08] jefleponot commented on #1821
@whooyun

I saw your script and there are many troubles.

[code]

after login I can't find any #nocaptcha selector.

I don't understand what you expect with multiple mouse.move calls .
Could you please send me screen-shots of that you want to do ?

[2017-05-03 16:37] whooyun commented on #1821
@jefleponot
1.sometimes i can login successfully. So you cant find any #nocaptcha selector. It is up to application.

2.multiple mouse.move calls
The application can identify the operator by the mouse movement. It is just like google's man-machine authentication. So my code has many multiple mouse.move calls .

3.man-machine authentication successful
mouse down the small square, and drag to the ri

[2017-05-04 08:20] whooyun commented on #1821
@jefleponot
I solved the problem.
The noCaptcha.reset(1) can not work,because of the application prevent  refresh link click event.
Thanks so much.
My English is very bad,It's too ashamed.
感谢大神，辛苦大神了

[2017-05-04 13:01] jefleponot commented on #1821
Hi @whooyun
 I just see your reply : good job.

Your code that drag&drop tag is not very nice
You can use casper.getElementBounds()
with "#nc_1_n1t" and "#nc_1_n1z"

you could easily calculate the position to drag & drop

Regards jef

[2017-05-04 14:03] #1821 closed

[2017-05-04 14:08] webhamm opened #1825 "Develop Casper JS to work with new headless Chrome to replace Phantomjs"
main maintainer of phantomJS is stepping down due to new headless Chrome:
https://groups.google.com/forum/#!topic/phantomjs/9aI5d-LDuNE

Reference
https://github.com/nightwatchjs/nightwatch/issues/1439

Might already be aware and have plans but wanted to file issue to track..

Thanks for the great project and hope to continue to use it.

[2017-05-04 15:24] jefleponot commented on #1825
@webhamm

We will try to continue to maintain CasperJS with future headless browsers

[2017-05-05 03:17] wuchuguang commented on #1823
casperjs-test is my project directory

[2017-05-05 03:19] wuchuguang commented on #1823
in this directory.
I exec
`    casperjs index.js `

[2017-05-05 23:09] awilson28 opened #1826 "Popup window doesn't have access to window.opener"
First, thanks for this awesome library; it's a dream.

I've nearly accomplished my web scraping goal but my scraper fails on the final step and I'm pretty sure it fails because the popup window is unable to access data from the originating window via `window.opener`.

Is data sharing among windows a known issue?

Here's my code:

[code]

[2017-05-05 23:14] awilson28 commented on #1826
Oh, also, I'm using an `waitForPopup` but it never fires even though the popup event listener fires:

[code]

[2017-05-06 10:05] KlausNie commented on #1822
Follow up:
casper.popups.clean() does remove the popups from casper.popups, but does not free their resources, is this intended?

[2017-05-06 10:35] KlausNie commented on #1822
Nevermind, my bad! It does free the popups resources!

[2017-05-07 15:05] kensoh commented on #1250
Hi @jaamo for me I create a separate password file from script file. I do it this way in my general purpose web automation tool base on CasperJS - https://github.com/tebelorg/TA.Gui. As the tool is designed to be run locally on user's local machine, the assumption is only he/she has access to the separate password file with credentials.

Hi @Heart1010 CasperJS does not support option selection (dr

[2017-05-08 06:30] wubocong commented on #1823
@wuchuguang Seems you use built-in 'path' module. casperjs is not fully compatible with node packages.

[2017-05-09 07:40] jefleponot commented on #1826
@awilson28
Could you please precise version of CasperJS / SlimerJS /PhantomJS ?

data sharing between windows is often a security trouble so modern web browser doesn't support it.
It is recommended to use "post message" https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage
Regards,

jef

[2017-05-09 07:44] jefleponot commented on #1823
true

[2017-05-09 07:44] #1823 closed

[2017-05-09 07:47] #1800 closed

[2017-05-09 13:21] awilson28 commented on #1826
@jefleponot  Thanks for responding! CasperJS - 1.1.0-beta3; PhantomJS - 2.1.7

Would you mind drawing up how I might be able to use `postMessage` in the code I've provided?

Also, I think I'd want to use it when the popup opens -- any idea why `waitForPopup` times out even though the `popup.created` and `popup.loaded` events fire?

[2017-05-09 17:43] JuanCaicedo commented on #1804
@jefleponot  If you're not able to get access, you can write to NPM explaining the situation and they'll go through some steps to give you permissions to the module. It takes a few weeks, so it would be nicer if @BIGjuevos could help 😃

[2017-05-10 06:39] jefleponot commented on #1804
@JuanCaicedo

I will write to BIGjuevos first ! After I would contact the NPM team .

[2017-05-10 15:23] BIGjuevos commented on #1804
Let me see what I can do to help. Not sure why I'm the only one left with NPM.

[2017-05-10 15:36] BIGjuevos commented on #1804
@jefleponot I can't seem to find a way in npmjs to modify or grant permissions.

I'm listed as a user of it for so, so I can publish versions. Which I just did for 1.1.4.

Please let me know if that doesn't work. I'll publish again,

[2017-05-10 15:38] BIGjuevos commented on #1804
In the future, I'm much easier to reach on Slack as this gets hidden in my mail.

You can join the slack at: http://ryannull.com:3000/

[2017-05-10 15:48] jefleponot commented on #1804
@BIGjuevos
Thanks a lot

[2017-05-10 15:49] jefleponot commented on #1804
@mirzazeyrek @JuanCaicedo @amerikan  @rubysolo

Could you please verify that the packager works with casperJS ?

Thanks by advance

[2017-05-10 16:26] etchen99 commented on #1006
In addition, is there a reason why `getBinary` (which is used by `download`) fails silently?

https://github.com/casperjs/casperjs/blob/4c0929ac574d53df08534d03b215b20e1f9ed0f1/modules/clientutils.js#L393-L406

It would be nice to be able to have an error event be emitted from that when there are failures.

[2017-05-11 02:48] TylorShin commented on #1819
@buwaneka1 what is the polyfills you added? babel-polyfill?

[2017-05-11 14:32] awilson28 commented on #1826
@jefleponot bump : )

[2017-05-12 02:13] corderogerardo commented on #1825
I'm looking a way to run casperjs with chrome headless, something like --engine=chrome-headless would be amazing!

[2017-05-12 08:47] jefleponot commented on #1826
@awilson28
I have no idea about your trouble. it is difficult to help you without have the true urls site.

[2017-05-12 08:49] jefleponot commented on #1825
Is everybody could start a project with phantom object property that access to chrome remote interface ?

[2017-05-12 12:42] awilson28 commented on #1826
@jefleponot
This makes sense. I bet you could figure out the issue rather quickly if you were able to run my program. Unfortunately, I can't share the program here because there are login credentials and other specifics that I feel uncomfortable posting to a public forum. May I email you? My email address is listed on my github profile. I'd greatly appreciate it if you could ping me. Like I said,

[2017-05-12 17:32] webhamm commented on #1825
Works really nicely when testing locally.
https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md

[2017-05-12 17:45] webhamm commented on #1825
Maybe this will help salt the start. Not much but maybe others will join in
https://www.bountysource.com/issues/44838822-develop-casper-js-to-work-with-new-headless-chrome-to-replace-phantomjs

[2017-05-14 10:46] BartoszBaczek commented on #1798
@kozhin Your solution is fine, but only if you do not need to send any parameters.

[2017-05-19 09:36] prinspark opened #1827 "Cannot dispatch mousedown event on nonexistent selector: xpath selector"
casperjs 1.1.4
phantomjs 2.1.1

tried waitForSelector but got timeout error , please help:(

[2017-05-19 10:18] jefleponot commented on #1827
no event can be sent to noexistent or unvisible selector

[2017-05-19 10:27] prinspark commented on #1827
but there is the very element and visible, how to fix it?

[2017-05-19 21:26] kensoh commented on #1804
Thanks @jefleponot @BIGjuevos works for me! I've updated CasperJS v1.1.4 to the tagui package that I'm working on. And the CasperJS Node.js download works as expected for me.

[2017-05-19 22:12] kensoh commented on #1611
@aymen-mouelhi and @mlalpho can you kindly share with me more what is a use case for this? (for learning purpose) I would think that using this.getHTML() will be able to get the contents.

[2017-05-19 22:18] kensoh commented on #1615
Hi @cvillemure do you still have the same problem with CasperJS v1.1.4? What if you also include options such as below? These are the options with lowest security protection that I know of.

casper.options.pageSettings = {
loadImages: true,
loadPlugins: true,
ignoreSslErrors: true,
**webSecurityEnabled: false,**
**localToRemoteUrlAccessEnabled: true**
};

[2017-05-19 22:34] kensoh commented on #1631
Hi @andycodecomplove are you still facing this issue with CasperJS v1.1.4? Looking at casperjs.exe history, it looks like the source code for the Windows executable comes from `src/casperjs.cs`

However I don't know anything more that may be helpful. I'm a CasperJS user and I know Jef (current maintainer) has a lot on his hands. So just browsing through issues. A tool I make is base on CasperJS, s

[2017-05-19 22:38] mlalpho commented on #1611
@kensoh  I believe the idea is to capture specific parts of the page (css, js, etc) to avoid downloading all the assets. This thread may be key to pointing out that it may no longer be supported in phantomjs, but is supported in slimerjs http://stackoverflow.com/questions/22058321/status-of-phantomjs-onresourcereceived-response-body-work

[2017-05-19 22:53] kensoh commented on #1633
Hi @mlalpho looks like the point you highlighted has been fixed. When I try to run this.test.assertX without running with test option, CasperJS throws error as expected - **CasperError: casper.test property is only available using the \`casperjs test\` command**

[code]

[2017-05-19 22:56] kensoh commented on #1611
Thanks @mlalpho for sharing! I understand now, this is an interesting use case 😃

[2017-05-19 23:06] kensoh commented on #1651
Hi @pieplu or maybe store directly at your gist? Then PR can be made on `docs/cookbook.rst`

https://gist.githubusercontent.com/pieplu/6be55d1d8f27ea9b8dcf4de6b1933547/raw/54f4434c1d77a3b090089032d1e5f8f18be800fd/URI.js

[2017-05-19 23:13] kensoh commented on #1663
Adding on, the recent news with Vitaly stepping down as PhantomJS maintainer may mean that BC planning could only be with reference to the current PhantomJS v2.1.1.

[2017-05-19 23:18] kensoh commented on #1673
Looks like it might be related to what @entrptaher posted on PhantomJS memory leak?

It actually works for me on Windows 10 and macOS Sierra. Both for CasperJS v1.1.3 and v1.1.4. I'm running PhantomJS v2.1.1. My mac is 4GB, win is 8GB.

[2017-05-19 23:19] kensoh commented on #1673
@Nedgeva @dgramop @Henry-T looks like it might be related to what @entrptaher cross-referenced on PhantomJS memory leak?

It actually works for me on Windows 10 and macOS Sierra. Both for CasperJS v1.1.3 and v1.1.4. I'm running PhantomJS v2.1.1. My mac is 4GB, win is 8GB.

[2017-05-20 00:51] kensoh commented on #1685
I haven't experienced issues with using thenOpen multiple times in my script. I do some steps at URL1 then call thenOpen to URL2, and some steps, etc. Maybe it is specific case when used with eachThen. Adding on, the 2 places where this example happen is `docs/modules/casper.rst` and `docs/writing_modules.rst`

[2017-05-20 01:09] kensoh commented on #1721
Hi @Gohan if the URLs are from the same site, do you try to wait explicitly some time between downloads? It might be the site blocking automated downloads. If from different sites, maybe decreasing security may help. I can't contribute on the download error message you mentioned, just suggesting other workarounds fyi. Also, since CasperJS supports writing JavaScript code directly you can try writi

[2017-05-20 01:19] kensoh commented on #1739
Hi @hotam-singh adding on that I use mouse.move whenever need to hover over something and it works for me. Also, on some rare occasions specifying CSS/XPath locators directly I cannot interact with the object with click. Not sure if this happens for move. But when I use below sample code to get the xy coordinates, I can interact with the object through its xy coordinates.

[code]

[2017-05-20 01:25] kensoh commented on #1765
Hi @tgoldenberg I believe CasperJS is actually not a Node.js library, only using npm for distribution. Not sure if SpookyJS can help your use case -
http://docs.casperjs.org/en/latest/faq.html#is-casperjs-a-node-js-library

[2017-05-20 01:34] kensoh commented on #1772
Hi @jpca999 adding on, since you have installed PhantomJS on its own through brew, can you try installing CasperJS directly from this download? https://github.com/casperjs/casperjs/archive/1.1.4-1.zip

This would bring the entire run outside of Node.js ecosystem and might work for you. I have no issues with running CasperJS whether it is installed using npm or not. But I invoke it directly using c

[2017-05-20 01:40] kensoh commented on #1783
Adding on, getHTML also works for me. The only recent situation where I have problem with blank page is after trying to log on to Mastodon all I get when driven using PhantomJS is a blank dark grey page. However when driven through SlimerJS the automation can work. So not sure if it is a PhantomJS-isolated issue. I'm not aware that Mastodon explicitly blocks PhantomJS agents.

This is the URL of M

[2017-05-20 02:02] kensoh commented on #1827
Adding on @prinspark, for some rare occasions I encounter website which has elements that are visible, and can be interacted with other CasperJS commands. But the click somehow fails. I work around it by clicking using xy coordinates instead and it works. I thought that it may be isolated to some rare website only and not CasperJS issue because works on other websites. Will you be able to provide

[2017-05-20 02:15] kensoh commented on #1826
@awilson28 this is an interesting automation scenario :) Btw for waitForPopup if you try using this.echo directly without invoking inside evaluate, and use regex instead (eg this.waitForPopup(/keyword/, ) to specify a keyword to look for in the popup URL, does it work that way?

[2017-05-20 02:39] kensoh commented on #1532
Hi @Thebigbignooby have you seen this? http://docs.casperjs.org/en/latest/installation.html

I used this and it looks like covering the setup for various platforms. I've used this guide when installing  CasperJS on macOS, Linux, and Windows.

[2017-05-20 03:30] kensoh commented on #1552
Hi @O0mix0O I'm able to replicate this issue and found that the website somehow needs some lag time for the elements to be updated after user action. If I add a casper.wait(2000); between entering each fields and clicking the button it works.

Also, the button due to having no unique ID, using that particular XPath will be invalid after entering some fields. I was able to get the button working by

[2017-05-20 03:31] kensoh commented on #1552
Hi @O0mix0O I'm able to replicate this issue and found that the website somehow needs some lag time for the elements to be updated after user action. If I add a casper.wait(2000); between entering each fields and clicking the button it works.

Also, the button due to having no unique ID, using that particular XPath will be invalid after entering some fields. I was able to get the button working by

[2017-05-20 03:37] awilson28 commented on #1826
@kensoh hey Ken, thanks for responding! I've been having trouble with a particular page for a long time now. @jefleponot has provided invaluable help to me with regards to debugging and improving the program. There's one final step that's stumping us. Are you interested in a challenge? My email is on my profile page -- ping me and I'll send you the program for you to run

[2017-05-20 03:59] kensoh commented on #1824
Hi @WiwiC I'm able to automate clicking the follow button using this XPath as the selector
`(//*[text()="Follow"])[1]`

To use XPath in CasperJS you can use `var x = require('casper').selectXPath;` and then replace the button_follow by `x('(//*[text()="Follow"])[1]')` or the way Jef showed you. I tested using CasperJS to drive the automation through SlimerJS/Firefox and it should work the same for

[2017-05-20 04:15] kensoh commented on #1826
@awilson28 I see.. Sure I've just emailed you. Please set login password to some temporary password or use a dummy userid if possible. I work on web automation so I am interested to take a quick look at this unique scenario which I have never encountered before.

However, certain websites are designed such that it can't be automatable. For eg the underlying technologies (PhantomJS/SlimerJS) used b

[2017-05-20 05:35] prinspark commented on #1827
thanks!

I tried to open 'https://www.douban.com/accounts/login?source=location',and locate '//*[@id="lzform"]/div[7]/input' by xpath.

function getElementInfo does not work neither:(

[2017-05-20 14:41] kensoh commented on #1827
Hi @prinspark no probs!

It looks like maybe there's some problem with the webpage or a typo in your locator. When I try with `//*[@id="lzform"]/div[6]/input` it works. Can capture screenshot of the element and can also click on it (and final full screenshot showing errors of no user id and password entered).

Or maybe it is just that the website serve different IP addresses differently so what I

[2017-05-20 14:47] kensoh commented on #1792
Hi @jpca999 I'm an CasperJS user but haven't come across the use of _ directly as a variable. Not sure if it is because the underlying tech (PhantomJS/SlimerJS) is not supporting ES6/TypeScript in below link. And whether what you want to achieve can be done without using _

http://stackoverflow.com/questions/41085189/using-underscore-variable-with-arrow-functions-in-es6-typescript

[2017-05-20 14:51] kensoh commented on #1791
@jpca999 this looks like duplicated of https://github.com/casperjs/casperjs/issues/1792 and sounds like you are trying to use Lodash with CasperJS.

[2017-05-20 14:54] kensoh commented on #1792
Cross-referenced above duplicated issue. Looks like you are trying to use Lodash with CasperJS.

I'm not JavaScript expert, so maybe Jef or other Lodash expert can share with info with you.

[2017-05-20 15:02] kensoh commented on #1763
@khalistan this might be a BackstopJS related question, have you try posting to their repo issue page? I believe there should be users there with your use case. The only other thing in my mind is maybe BackstopJS code lies directly in the browser so need to user casper.evaluate to do the stuffs in DOM context instead of default casper context.

[2017-05-20 15:08] kensoh commented on #1715
Bumping up this interesting use case. @dritter I'm a CasperJS user and test automation engineer. Can you share more on your use case why async is needed for setup and teardown? I'll assume normally we want setup to be synchronously done before all the other testing happens.

[2017-05-20 15:11] kensoh commented on #1698
Hi @stackflows does the same issue happen for you for the current build CasperJS v1.1.4?

I haven't encountered this but I install from brew, or download directly from casperjs.org homepage.

[2017-05-20 15:13] kensoh commented on #1696
Hi @abnerlee does this happens for you using CasperJS v1.1.4 and PhantomJS v2.1.1?

I'm a CasperJS user and it seems that script failures are still outputting with detail information similar to your #1230 issue.

[2017-05-20 15:16] kensoh commented on #1607
@Huulivoide looks like this issue is fixed? I've been using CasperJS with SlimerJS without issues on macOS, Windows and Linux CentOS. Now using 1.1.4 and 0.10.3. Previously 1.1.3 and 0.10.2 also works for me.

[2017-05-20 15:20] kensoh commented on #1613
Hi @ambrt, seconding what @mlalpho said. On Windows I have a batch file wrapping around CasperJS execution which may be helpful for you - https://github.com/tebelorg/TagUI/blob/master/src/tagui.cmd

[2017-05-20 15:22] kensoh commented on #1686
Hi @z3ronp it looks like @entrptaher suspects this as memory issue with PhantomJS. Does the issue still happens for you, or if you try running on a machine with more RAM? How about running by driving through SlimerJS/Firefox?

[2017-05-20 15:25] kensoh commented on #1683
@1dal your update looks to be in the latest documentation - http://docs.casperjs.org/en/latest/logging.html

[2017-05-20 15:26] kensoh commented on #1683
@1dal your push is now in latest documentation - http://docs.casperjs.org/en/latest/logging.html

[2017-05-20 15:29] kensoh commented on #1681
@rippo interesting scenario.. I haven't encountered something like this because I always define the size. Not sure if it happens for you in v1.1.4. If it is a regression it probably will still happen.

[2017-05-20 15:31] kensoh commented on #1665
@zhangjh I'm able to use waitForPopup and withPopup. But I am running v1.1.4. Does it still happen for you with v1.1.4?

[2017-05-20 15:38] kensoh commented on #1628
Hi @ap313620 I'm a CasperJS user, don't have experience with this scenario but just bumping up. Not sure if you still experience this issue using v1.1.4 and v2.1.1?

[2017-05-20 15:40] kensoh commented on #1650
Hi @keeprock yes this sounds like PhantomJS. The remote debugging feature is built into PhantomJS and I assume CasperJS being a wrapper the behavior you experienced is likely the design built into PhantomJS - http://phantomjs.org/troubleshooting.html

[2017-05-20 15:41] kensoh commented on #1650
However, not sure the state because PhantomJS maintainer recently stepped down. There hopefully will be a passing on of baton! There are also some new changes of headless Chrome and Firefox.

[2017-05-20 15:44] kensoh commented on #1667
Hi @mingshi if I understand correctly, CasperJS/PhantomJS is not meant to run in parallel. Using separate installations isolated from each other might help. But for the Python multiple processes module even with isolated instances it still needs testing to see if something breaks. Have you tried running some tests?

[2017-05-20 15:47] kensoh commented on #1692
@jamb0ss bumping this up, and not sure if this issue is still valid for v1.1.4? I'm a CasperJS user and just looking through the various issues here.

[2017-05-20 15:50] kensoh commented on #1524
Second @istr @mlalpho @orensol on no dependency on node. I personally prefer the lesser dependencies the better so if it can run without being inside node it's a good thing. I only use the npm ecosystem for easier packaging and distribution. But non-node users should still be able to enjoy benefits of CasperJS without strictly being made to migrate to a node env.

[2017-05-20 15:53] kensoh commented on #1689
Hi @xwartz can you share your script and some comments on where the error happens?

[2017-05-20 15:55] kensoh commented on #1672
@brian6peng does this still happen for you with v1.1.4? I'm a CasperJS user just looking through the issues. Have not encountered this use case myself.

[2017-05-20 15:57] xwartz commented on #1689
@kensoh

Thx，I have solved this issue.

[2017-05-20 15:57] #1689 closed

[2017-05-20 16:00] kensoh commented on #1604
Hi @beatak do you mean fs as in below? I actually used this since I started using CasperJS/PhantomJS in 2015. I still continue using this and don't know (and haven't explore) other ways. So far ok for me.

[code]

[2017-05-20 16:03] kensoh commented on #1600
@quetz do you still encounter this with v1.1.4? I'm a CasperJS user and looking at some issues.

[2017-05-20 16:06] kensoh commented on #1597
Hi @JohnnyEvo does this still happens for you with latest CasperJS/PhantomJS? Or with higher CI machine specs do it still happen?

[2017-05-20 16:08] kensoh commented on #1596
Hi @miguelmota I understand in order to select popup window needs to use withPopup, so I guess selecting main window is not required as the default is already main window. Probably this has already been clear in current documentation so I have this impression.

[2017-05-20 16:10] kensoh commented on #1595
@miguelmota this looks to be addressed? I think current document allows referencing popup using the page title - http://docs.casperjs.org/en/latest/modules/casper.html#withpopup

[2017-05-20 16:29] kensoh commented on #1549
Hi @brucejcw it looks like you want to keep checking for the resource. Would it work if you change the waitTimeout option directly to a very large number? So that script will keep waiting until that resource appears. I'm a CasperJS user just browsing through the issues here.

[2017-05-20 16:36] kensoh commented on #1574
@bossonaro @TimWDavis84 in the case of unknown URL, can you try using the resource.received event and then echoing all the URLs of all resources received? Before using this.download().

I'm a CasperJS user, just looking through issues here. Downloading is very tricky, CasperJS has already made it much easier than downloading using PhantomJS. Some other alternatives will be running SikuliX + Xvfb w

[2017-05-20 16:59] #1595 closed

[2017-05-20 17:00] #1596 closed

[2017-05-20 20:57] awcchungster commented on #378
I'm seeing this with Phantomjs 2.1.1 and CasperJS 1.1.4.

Does anyone still get this bug?

[2017-05-21 00:07] kensoh commented on #1574
Wanted to add on with specific code -

Can put something like below near the start of your script. So that every single resource that is received by PhantomJS will be output to screen.

[code]

Ideally the file to be downloaded is there and you can use this.download command to fetch the file by finding some pattern in the URL, something like below example.

[code]

[2017-05-21 00:07] kensoh commented on #1721
Above is assuming URLs are known and valid. Otherwise some experiment such as below may help.

Put something like below near the start of your script. So that every single resource that is received by PhantomJS will be output to screen.

[code]

Ideally the file to be downloaded is there and you can use this.download command to fetch the file by finding some pattern in the URL, something like belo

[2017-05-21 12:48] #1609 closed

[2017-05-21 13:25] jefleponot commented on #1611
@mlalpho  @kensoh

I'm also interested in  page.captureContent features but it works only with slimerJS.
A PR has been made for phantomJS but it was unstable ... so never merged ..

[2017-05-21 19:57] kensoh commented on #1505
Hi @swapfile I run it this way from PHP. You probably found a way to make it work.

$exec_result = exec("PHANTOMJS_EXECUTABLE=/usr/local/bin/phantomjs /usr/local/bin/casperjs /full_path/script.js " . $whatever_parameters;

Installing from npm should be ok with above as long there are symlinks from /usr/local/bin/xxx to your respective executables. Right now, for a [tool](https://github.com/tebelor

[2017-05-21 20:12] kensoh commented on #1491
This looks to be ok now. CasperJS latest brew is 1.1.4 with PhantomJS 2.11 dependency.

TA:tagui.sikuli kensoh$ brew info casperjs
casperjs: stable 1.1.4 (bottled), HEAD
Navigation scripting and testing tool for PhantomJS
http://www.casperjs.org/
/usr/local/Cellar/casperjs/1.1-beta4 (378 files, 16.2MB)
  Built from source on 2016-03-25 at 08:53:03
/usr/local/Cellar/casperjs/1.1.3 (284 files, 7MB)

[2017-05-21 20:20] kensoh commented on #1488
Hi @wskorodecki this seems to be possible now, I can do a wait with 0 as parameter.

[2017-05-21 20:34] kensoh commented on #1463
Hi @brucejcw do you still have this issue? I haven't encountered this situation before. Capturing selectors or the whole webpage works for me. Maybe it has been fixed..

[2017-05-21 20:36] kensoh commented on #1467
Hi @brucejcw do you still have this issue? Do you see any possible cause if run with debug option? I haven't encountered issues with navigating to new URLs and then taking screenshots. Maybe it has been fixed.

[2017-05-21 20:38] kensoh commented on #1482
Hi @brucejcw bumping up this issue and seeing if you still encounter this issue.

[2017-05-21 20:41] kensoh commented on #1486
Hi @brucejcw maybe you have already found a solution. For a tool I'm working on, I handle iterations from the (shell script)[https://github.com/tebelorg/TagUI/blob/master/src/tagui] or batch file. This way, new instances of CasperJS/PhantomJS will be created and destroyed. For my use I find this is good and should be more stable in running batch automation.

[2017-05-21 20:41] kensoh commented on #1486
Hi @brucejcw maybe you have already found a solution. For a tool I'm working on, I handle iterations from the [shell script](https://github.com/tebelorg/TagUI/blob/master/src/tagui) or batch file. This way, new instances of CasperJS/PhantomJS will be created and destroyed. For my use I find this is good and should be more stable in running batch automation.

[2017-05-21 20:45] kensoh commented on #1455
For a project that I'm working on, I handle iterations through [shell script](https://github.com/tebelorg/TagUI/blob/master/src/tagui) or batch file and calling CasperJS. I thought this would destroy and create new CasperJS+PhantomJS instances and would be more reliable for batch automation.

Not sure if for testing this is a good way. My use case is more for automating web interactions, not colle

[2017-05-21 20:55] kensoh commented on #1383
Hi @bitwombat is this issue still happening for you? I normally explicitly check for an element before interacting with it. In a project I'm working on now base on CasperJS, I make each step explicitly check for an element to be there before interacting with it immediately after it has appeared.

Saw your cross-reference above on Twitter, I've just made a reply to a similar question on Twitter aut

[2017-05-21 21:05] kensoh commented on #1302
Hi @aixellent @user-friendly it looks like this is still current behavior. Bumping this. I would think most test cases the steps are dependent on earlier steps being successful before continuing. But I understand that there are situations where steps are not directly dependent and will benefit from log generation of all errors instead of fixing 1 thing only to get to the 2nd error on next run.

[2017-05-21 21:06] kensoh commented on #1314
Hi @crackjack it looks like this is now natively supported. Is the issue still happening for you?

[2017-05-21 21:09] kensoh commented on #1326
Hi @emilioriosvz I've been a CasperJS user for past 2 years without encountering this issue. Not sure if this has been fixed or is it still happening for you?

[2017-05-21 21:14] kensoh commented on #1329
Hi @nfriedly not sure if you are still having this. I tried replicating your code to click on an invalid element and it triggers the onError called message. It has probably been fixed since this was 1.5 years ago.

[2017-05-21 21:24] kensoh commented on #1374
Hi @amerikan is this still happening for you? I'm a CasperJS user for 2 years, and understand that this probably is the underlying browser behavior from PhantomJS, and might be already fixed over time.

[2017-05-21 21:26] kensoh commented on #1375
Bumping up in case it's still relevant for you. Normally for situations where I expect multiple matches I check explicitly if something exists then read it.

[2017-05-21 21:36] bitwombat commented on #1383
@kensoh I think explicitly checking for an element before interacting with it is the same as I'm saying above (from a year ago) that I need to do.  But that means you don't have a nicely reading, clean chain of .then() statements.

[2017-05-21 22:42] kensoh commented on #1383
@bitwombat oh yeah that is surely a side-effect. I'm an test automation engineer. But I kinda hate writing a lot of code to do automation, and reading/maintaining a lot of code. So I started a project to make a wrapper around CasperJS, such that simple 'natural-language' looking steps can be converted automatically into working CasperJS code to run it.

For example below block of steps will be con

[2017-05-21 23:23] kensoh commented on #1290
Hi @hivivo I've just checked and it looks like your changes are now in tester.js :)

[2017-05-22 00:18] kensoh commented on #1269
@naomik @alexwybraniec yes this is a bug that is now fixed. The logging docs now show below which works for me. I'm a CasperJS user now looking through past issues.

[code]

[2017-05-22 00:24] kensoh commented on #1249
@Kevin-A this is an interesting issue.. Not sure if it is already fixed. Just following this thread to understand more.. I'm a CasperJS user now browsing through old issues.

[2017-05-22 00:27] kensoh commented on #1255
Hi @johneriksson not sure if this is still happening for you or if the issue is fixed. I'm aware PhantomJS has large memory consumption. Could it work for you if you wrap the iteration around shell or batch script? I do it something like this to process batch automation. So that the PhantomJS/CasperJS process is restarted at each iteration. Just my preference, I think it should be more stable to r

[2017-05-22 00:34] kensoh commented on #1207
It has been a while.. This seems to be fixed I guess? When I run ./casperjs selftest on a folder path with space it works. I'm using 1.1.4 on macOS.

[2017-05-22 00:51] kensoh commented on #1274
@yuriyant it passed all tests on my Linux but for macOS 15 failed tests all related to
[code]

Somehow the path is set to above instead of an existing file /full_path/casperjs/README.md. Running v1.1.4 for both.

[2017-05-22 00:52] kensoh commented on #1248
@brandondrew it's been a while, looks like the current download instructions are ok. I'm a CasperJS user looking through the old issues.

http://docs.casperjs.org/en/latest/installation.html

[2017-05-22 01:04] kensoh commented on #1230
@mefiblogger bumping up. This still exists although the correct line # is also included in the test result above - `at test/jsfunctional/casper/autosuggestTest.js:129`. I guess people are living with this workaround with the misleading header/footer line # when running in test mode. When not in test mode there is no such header/footer to be misleading.

[2017-05-22 01:16] kensoh commented on #1242
@picheli20 @ImaMiri it doesn't look like there is native support for this yet. Probably only implementable using mouse down/move/up now. I saw @ImaMiri other thread that it is not working. Not sure if this hack works now for her scenario?

[2017-05-22 01:21] kensoh commented on #1236
@ngotchac @sprak3000 bumping up. It's been almost 2 years, I don't see your commit in current code. But not sure if this scenario still fails for you? I'm a CasperJS user browsing through old open issues.

[2017-05-22 01:23] kensoh commented on #1233
That works ok for me too, since the globally defined variables are in CasperJS context, I find that they can be used in various blocks.

[2017-05-22 01:42] kensoh commented on #1226
Interesting thread, I wonder how do people (or is it common) implement parallel execution of multiple CasperJS/PhantomJS instances. I'm still using LAMP VPS with 2GB and from memory/cpu usage it looks like it can handle at most 2 sessions at the same time.

I was once joking with my friends can use CasperJS / PhantomJS to load test websites. But the resource requirements are so large that LoadRunn

[2017-05-22 02:04] ap313620 commented on #1628
@kensoh This problem were solved after I updated to 1.1.4 last week

[2017-05-22 02:11] ap313620 commented on #1628
Oh I'm sorry @kensoh I forgot to add the --fail-fast option when I check it. :s
This issue sustain in 1,1,4 & 2.0,1-dev.

[2017-05-22 02:29] pieplu commented on #1651
Thanks @kensoh, I forget it! #1828

[2017-05-22 06:57] prinspark commented on #1827
Yes,you're right.There are lots of work to do for automated script.
Is there any tools better than CasperJS for web or app automation?

I'm from mainland China.Nice to meet you my friend. kensoh?from street fighter:)

[2017-05-22 07:48] Gohan commented on #1721
@kensoh  hi, for me just use casperjs to download the file of the URLs. I found the download files not complete, some file full size as 4MB, downloaded result is just 1MB.

I alternatively use casperjs to gather the urls, use java okhttp to download all the files, and it works.

I was think that casperjs download module maybe use chrome-like logic, that some download is not complete if the connect

[2017-05-22 10:46] mingshi commented on #1667
yes, i have runed some tests which provd that there will be no impact between processes.

[2017-05-22 10:46] mingshi commented on #1667
@kensoh
yes, i have runed some tests which provd that there will be no impact between processes.

[2017-05-22 11:56] kensoh commented on #1721
Thanks @Gohan for sharing, learnt a new trick from you on okhttp 😄 I haven't tried downloading large files before on CasperJS and didn't encounter this. Only downloaded small text files before.

For a tutorial I have some problem trying to download from GitHub and I thought it is GitHub blocking. So maybe something breaks in the downloader. I've starred okhttp for reference next time.

[2017-05-22 12:02] kensoh commented on #1667
@mingshi thanks for tip! I'm picking up Python now to integrate SikuliX with a project I'm working on. Another bottleneck for me on my VPS with 2GB is I think reasonably it can only handle 2 CasperJS/PhantomJS processes. Base on stats from top command.

[2017-05-22 13:19] kensoh commented on #1827
I heard from my China friend that China big companies (Alibaba, Tencent etc) are advance in their automation. This is a nice post I read some time ago - http://www.infoq.com/cn/news/2015/06/mobile-testing-service. Nightmare (base on Electron browser) is also popular. Furthermore there's well-funded company supporting it (Segment).

I make a [general purpose tool TagUI](https://github.com/tebelorg/

[2017-05-22 13:36] kensoh commented on #1093
@Aradeid @gaisanshi I tried replicating but does not seem to get PhantomJS crash error. However the custom event did not get triggered. The standard wait timeout error appears.

[code]

Is the use case you are trying to achieve to define 1 time the timeout catcher so that for all steps you do not need to define the timeout handling individually? Normally for interaction I do handling individually.

[2017-05-22 13:42] kensoh commented on #1098
@Synchro not sure if you have found a solution or if this is now supported. This is interesting use case.. Can you share more how you want to use such output instead of saving to file? Is it for streaming or some integrated use to chain with other downstream apps?

I was thinking outputting to the image file and then wrap the casper run in a shell script, then cat the generated image, may produce

[2017-05-22 13:50] kensoh commented on #1121
Hi @amerikan not sure if this is still happening. I'm thinking could it be page elements/frames are still in process of loading and whether adding an explicit wait for some time before running this will help?

[2017-05-22 13:56] kensoh commented on #1122
This looks to be already merged. For my personal bias I use ' and then " within ' for XPath '//*[@text="Continue"]'. Single quote much easier to type without hitting shift key.

[2017-05-22 14:01] kensoh commented on #1129
@Nina-Nasura @kanxue660 this seems to be working now too. Works for me on macOS.

[code]

[2017-05-22 14:10] kensoh commented on #1147
@LJJCherry you can try the --pre and --post options mentioned by @davidlinse it lets you run some pre-requisite script first before the actual testing. http://docs.casperjs.org/en/latest/testing.html

[2017-05-22 14:12] sprak3000 commented on #1236
@kensoh

It appears the [PR](https://github.com/casperjs/casperjs/pull/1237) for the change had some feedback that was not addressed. It was never merged in; however, the thread for the PR mentions @BIGjuevos possibly cloning the PR into a different one to resolve the issue. Not sure if that was seen through; the slimerjs tests I had an issue with have been shelved for some time. Would need to rev

[2017-05-22 14:15] kensoh commented on #1148
@kantjessica not sure if this is still relevant to you. I think the second defined block will overwrite the first one and only the second block will be triggered. I tried testing with onStepTimeout event handling.

[2017-05-22 14:17] #1827 closed

[2017-05-22 14:18] #1804 closed

[2017-05-22 14:19] #1615 closed

[2017-05-22 14:19] #1631 closed

[2017-05-22 14:22] kensoh commented on #1236
@sprak3000 I see.. Oh yeah it has been a year ago. Now @jefleponot is maintaining the repo. Not sure if this issue is still happening with v1.1.4 and SlimerJS v0.10.3.

[2017-05-22 14:24] jefleponot commented on #378
@awcchungster

It is not really a bug
Only visible element can be clicked...

[2017-05-22 14:26] jefleponot commented on #378
I will propose a new PR to propose a solution

[2017-05-22 14:30] kensoh commented on #1061
Seconding @Llorx, @cablegunmaster sounds like have to use mouse.down method instead. The default click will activate mouse.down, mouse.click and mouse.up I think..

[2017-05-22 14:34] kensoh commented on #1061
Seconding @Llorx, @cablegunmaster sounds like have to use mouse.down method instead for this edge case. The default click will activate mouse.down, mouse.up, and mouse.click I think..

[2017-05-22 14:39] kensoh commented on #1063
Bumping up.. I guess a lot have developed past 2 years in test automation space. Ariya also discouraged using PhantomJS for testing due to differences from actual user browsers.

I solely use CasperJS for my automation purpose (more for process automation), but don't know how prevalent it is used for test automation.

[2017-05-22 14:41] kensoh commented on #1088
@isholgueras this is an interesting thread! I have used XPath a lot but haven't come across the type of selectors you demonstrated. I'm a CasperJS user for 2 years, not sure if this is now supported.

[2017-05-22 14:48] kensoh commented on #1168
@Nuruddinjr looks like the PR has not been implemented. Bumping up. For me, I read from a file the 'dataset' to be used for running the test or automation.

[2017-05-22 14:55] kensoh commented on #1180
I don't have this issue for macOS, Windows and Linux. But I didn't install on path names with spaces. The last I know there was some issue with handling spaces in the directory/filenames so I avoided. I don't have Node.js on my Windows, sounds like it fails even with no space for Node.js. For my windows installation I just wrap a [batch file](https://github.com/tebelorg/TagUI/blob/master/src/tagui

[2017-05-22 15:02] kensoh commented on #1197
@guidobouman can you share how you handle the situation? I wrap batch execution in [shell/batch](https://github.com/tebelorg/TagUI/blob/master/src/tagui) files so that for every iteration CasperJS + PhantomJS will be closed and re-initiated. I thought that is better for stability in running batch. But I don't know what's the drawback of this approach. Maybe results harder to compile? Now I just te

[2017-05-22 15:11] kensoh commented on #1056
@tohann not sure if this is now supported. Is this still an important use case for you? I'm a CasperJS user browsing through some past issues. Also PhantomJS is in a transition period, plus headless Chrome/Firefox coming. Exciting times for web automation!

[2017-05-22 15:16] kensoh commented on #1053
@willfrew @MathRobin looks like the repeat function didn't spawn to new variations. Chipping in here to hear if you have any thoughts since then on how to address repetition? Normally for each step I will wait for the element to appear, then interact with it, or throw some error if not found after timeout.

But I find this behavior doesn't really work well in loops such as while or for loops. Mayb

[2017-05-22 15:32] kensoh commented on #1037
@mccambridge this is an interesting feature. In a project I'm working on now I added a live mode so that I can try steps and JavaScript code to interact with web elements during run-time. Its helps in rapid prototyping.

The PhantomJS execution is ok but Firefox side (through SlimerJS) seems to run into error with reading from standard in even though it is documented. I've raised an issue there fo

[2017-05-22 15:36] rippo commented on #1180
What I don't understand is why I need python installed just to run a script. My hack also makes python redundant.

@istr mentioned here about removing python [https://github.com/casperjs/casperjs/issues/1631]

[2017-05-22 15:38] kensoh commented on #1205
Hi @ImaMiri it's been a while not sure if this issue is still happening for you? I saw your other thread.

[2017-05-22 15:47] kensoh commented on #1025
@hver bumping up, this has been some time ago but not sure whether it now works. This sounds like will affect many websites using Cyrillic alphabets in URL.

[2017-05-22 15:55] kensoh commented on #981
@agarwav bumping up. It's been a while since then not sure if this is already fixed or working for you?

[2017-05-22 15:57] kensoh commented on #980
Hi @crocket, bumping up. It's been a while and not sure if this is still happening for your use scenario?

[2017-05-22 16:10] kensoh commented on #887
@zirtec this has been a while.. If you add an explicit wait for a couple of seconds after filling the form, will it still fail? My own experience is somehow CasperJS/PhantomJS runs slower on Windows. Maybe the website elements need some lag time to register the form-filling action or some validation-events, and not ready by the time search is clicked.

[2017-05-22 19:41] kensoh commented on #781
@birbird it's been a while. Not sure if this works for you now. I recently heard and verified that using below in your code will allow access through proxy.

But I almost certainly don't want to use. I want to respect the website owners explicit intention not to serve certain IP ranges or countries.

[code]

[2017-05-22 19:46] kensoh commented on #786
@taymonbeal it's been some years, is this issue still happening for you? Not sure if current version works consistently in this case. I can only think of the page not yet loaded fully when the method is called. Adding explicit wait for maybe 30 seconds before calling that may help to isolate whether that is the cause.

[2017-05-22 19:54] taymonbeal commented on #786
I abandoned this project awhile ago. I might still have it around somewhere though.

[2017-05-22 19:56] kensoh commented on #802
Hi @benwbooth it's been a while. Can you share more on this use case? I'm CasperJS user for 2 years. My understanding is in order to use getElementsInfo() we first have to specify the locator (CSS or XPath). Are you suggesting user to input XPath selector and then spits out CSS selector? A project I'm working on I used the [Resurrectio project](https://github.com/ebrehault/resurrectio) to make the

[2017-05-22 20:06] kensoh commented on #810
@djfun I'm a CasperJS user for 2 years and browsing through open issues.

I've tried your code and it seems that the screenshot issue is now resolved. I tried for both cases when viewport is defined and using default. A total of 4 screenshots are created and looks correct.

When default viewport which is very small is used, the top is -86 after scrolling, with screenshots ok. When viewport is widt

[2017-05-22 22:06] kensoh commented on #786
Oh yep it has been 3 years.. If you found it but don't want to setup the latest CasperJS/PhantomJS etc, can paste the script here I can try to run your script to see if the error still happens.

[2017-05-22 22:16] kensoh commented on #805
@seriallos @mlb5000 @davidlinse bumping this, it looks to be still happening.

[2017-05-22 22:45] kensoh commented on #608
@simplysh bumping and adding on with CasperJS v1.1.4 and PhantomJS v2.1.1 the same error output happens by running your test script.

[2017-05-22 22:51] kensoh commented on #600
@vladimirgrezin @tdd, this looks like fixed somewhen along the way. I've tried the script with CasperJS v1.1.4 and PhantomJS v2.1.1 and the execution/output looks ok.

[code]

[2017-05-22 23:09] kensoh commented on #550
@shabeepk it looks like something might have changed along the long way. Both your scripts seem to reach the output 'No bug, because the control has reached here.'

[code]

[code]

[2017-05-22 23:13] kensoh commented on #494
@DavidBruant I've just looked at PhantomJS's 2 issues, it looks like both may not have been implemented yet, but am not sure.

[2017-05-22 23:16] kensoh commented on #478
@arielschwartz I didn't see any confirmation from the PhantomJS thread. But I recently am able to run through an automation flow on GitHub, clicking through some elements and try downloading a zip. Not sure if the issue is still happening now for you.

[2017-05-22 23:21] kensoh commented on #442
@danielnitsche I'm a CasperJS user for couple of years now looking through open issues.. It looks like something along the way changed? And seems to pass for the 2 tests in your test script.

[code]

[2017-05-22 23:36] crocket commented on #980
Sorry, man. I stopped developing for the web a long time ago. I think this issue should be either cared for by someone else or closed.

[2017-05-22 23:39] kensoh commented on #257
@flockonus @henrik-andersson it looks like fast forward to 2017, the methods exist directly under casper. I'm a user for couple of years, my personal preference is current model. If it can be simplify then maybe there is no need to complicate, since CasperJS is meant to make it easier for users to benefit from PhantomJS without writing everything in raw PhantomJS code.

Also, the newer WebdriverIO

[2017-05-22 23:55] kensoh commented on #1791
Closing this for now, the other duplicated issue #1792 not sure.. It looks like some conflict with Lodash's expected behavior when used together with CasperJS.

[2017-05-22 23:55] #1791 closed

[2017-05-23 00:04] kensoh commented on #1683
Thanks @1dal ! Closing this for now, not sure why your commit wasn't reflected as merged. But your changes are now in the latest doc.

[2017-05-23 00:04] #1683 closed

[2017-05-23 00:28] kensoh commented on #1552
@O0mix0O it looks like the issue is resolved maybe it's website changed, or adding wait to make sure web events have handled user interaction fixed it. I'll close the issue for now but do ping if you still run into issues. These days I'm on GitHub almost everyday. Otherwise you can email me ken@tebel.org

[2017-05-23 00:28] #1552 closed

[2017-05-23 00:37] kensoh commented on #1488
Thanks @wskorodecki! Looks like your pull request is already merged, closing this issue for now. Probably no change in documentation needed (existing doc looks ok) but copying @jefleponot for his call.

[2017-05-23 00:37] #1488 closed

[2017-05-23 00:52] kensoh commented on #1329
@nfriedly was testing with a waitFor and the onError message appears. If executing a this.click directly using your script the same error still happens with v1.1.4.

[2017-05-23 00:57] kensoh commented on #1290
Thanks @hivivo! Closing this issue for now, but not sure why your commit isn't shown as merged. Though your changes are now in tester.js code.

[2017-05-23 00:57] #1290 closed

[2017-05-23 01:00] kensoh commented on #1269
Thanks @alexwybraniec :) Hi @naomik closing this issue for now as the current logging docs statement works. Ping if you still have some issues. These days I'm on GitHub almost everyday, otherwise can email me ken@tebel.org

[2017-05-23 01:00] #1269 closed

[2017-05-23 01:05] kensoh commented on #1248
Thanks @brandondrew ! Closing this issue for now as the current download instructions seem to be ok, but do ping if you see something wrong. Thank you again for flagging this out :)

[2017-05-23 01:05] #1248 closed

[2017-05-23 01:08] kensoh commented on #1233
Thanks @amerikan ! Hi @forgetso closing this issue as a global variable can be defined to be used. If you run into issues kindly ping, I'm on GitHub almost everyday these days. Otherwise you can email at ken@tebel.org

[2017-05-23 01:08] #1233 closed

[2017-05-23 01:12] kensoh commented on #1148
Hi @kantjessica closing this issue I believe you got the 2 answers that you are looking for.. In any case, kindly ping if you have any issues.. I'm on GitHub almost everyday these days. Or you can email at ken@tebel.org

[2017-05-23 01:12] #1148 closed

[2017-05-23 01:15] kensoh commented on #1129
Thanks @kanxue660 ! Hi @Nina-Nasura closing this issue as current versions seem to be ok. But do ping on GitHub here if you still have this crash with CasperJS v1.1.4 and PhantomJS v2.1.1. or at email ken@tebel.org

[2017-05-23 01:15] #1129 closed

[2017-05-23 01:20] kensoh commented on #1061
Thanks @cablegunmaster for raising this. Closing this issue as mouse.down method can be used instead of the default down+click+up when invoking this.click. In any case do ping on GitHub here if you still have the issue. Or email at ken@tebel.org